[2022-01-01 14:25] cseickel opened #2 "Use libuv fs_event to watch for changes in the cwd"
Currently, this is handled using Buf* autocmds to detect when a file is changed in vim, but that misses events initiated outside outside of vim buffers, such as git actions.

It looks like nvim exposes a proper file watcher that we can use instead:
http://docs.libuv.org/en/v1.x/fs_event.html

`:h watch-file`

[2022-01-02 16:42] cseickel opened #5 "Add buffers source"
Essentially `ls` in tree form. The question is, should it be

- filtered to the current tab like BufExplorer can do
- grouped by tab (tab the buffers were last shown in)
- filtered to the cwd
- or show all open buffers without filters?

[2022-01-02 16:46] cseickel opened #6 "Add LSP Diagnostics source"

[2022-01-02 17:18] cseickel commented on #6
Then again, maybe quickfix and Trouble already do a fine job at this. I don't think I will do this one, but if someone else wants to give it a go, drop a comment.

[2022-01-02 17:20] cseickel opened #7 "Add LSP Diagnostic indicators to files"
In the existing filesystem source. This would be just like the git_status, with a utility function called in the default before_render, and a built-in component that renders it.

[2022-01-02 20:26] cseickel opened #8 "Floating window support"
Support showing neo-tree as a floating window, as an alternative option to showing as a sidebar.

The following may be problematic:
1. One issue is that the window is currently named `split`, and should be renamed to something more generic like `window`.
2. Another issue is that the "open" commands assume it is a sidebar and choose the window to the left/right of the tree.
3. Finally, there may be

[2022-01-03 09:29] hobord opened #9 "highlight group not found: NeoTreeNormal"
packer.nvim: Error running config for neo-tree.nvim: ...acker/start/neo-tree.nvim/lua/neo-tree/ui/highlights.lua:68: Vim(highlight):E411: highlight
 group not found: NeoTreeNormal

NVIM version: v0.6.1

[code]

[2022-01-03 13:09] cseickel commented on #9
Thanks for opening an issue and making Neo-tree better!

It looks like this will happen if your `Normal` highlight group does not have any settings. With this minimal config, I also realized I forgot to list plenary as a dependency.  I'll have an update to fix this soon.

[2022-01-03 13:30] cseickel commented on #9
@hobord This should be fix now if you update the requires as stated in the README:
[code]
...and issue `:PackerSync` and restart nvim. The other dependency I should mention is that you should also have `set termguicolors` for the highlights to show correctly.

[2022-01-05 15:23] max107 opened #12 "Expected Lua number"
[code]

[code]

[2022-01-05 16:54] cseickel commented on #12
I am not able to recreate the issue. Can you provide more details about:

- the steps you take to get to that point? Do you have a file open or some dashboard open? Is this the first time you are opening NeoTree in this session?
- What version of nvim are you running?
- What operating system are you on?
- What other plugins do you have loaded? Do you have a dotfiles repo or can you provide a minim

[2022-01-05 19:43] max107 commented on #12
Just open neovim: `nvim path/to/file` and run `NeoTreeReveal` or `nvim path/to/folder` and then open the file.

file

Yes.

0.6.1

Ubuntu 20.04 & mac bigsur

I have no public repo with my vim configuration at this moment. i will try create it tomorrow.

Thanks!

[2022-01-05 19:43] max107 commented on #12
Maybe i can send some logs for you? how i can grab it from neovim?

[2022-01-05 21:36] cseickel commented on #12
I don't think there are any logs that will help. Can you tell me if it works after you have run `:NeoTreeShow` once?

I'll take a look and try to add more parameter checking and error handling in the code. Maybe I can fix it without actually recreating it.

[2022-01-05 23:25] cseickel commented on #12
Hey @max107, I'm sorry I didn't realize this earlier, but I think I already fixed this bug in main. I might make another release tonight or tomorrow that includes the fix. If you'd like to try it out now, switch your branch to "main" and try it out.

[2022-01-06 01:03] cseickel commented on #5
This has landed in **main**. I went with the "filtered by cwd" option for this source. I'll push this to v1.x later tonight or tomorrow morning if I don't notice any issues.

[2022-01-06 03:33] cseickel commented on #5
Completed in [Release v1.4](https://github.com/nvim-neo-tree/neo-tree.nvim/releases/tag/v1.4)

[2022-01-06 03:33] #5 closed

[2022-01-06 09:11] shaksiper commented on #12
Isn't this the reason: neovim/neovim#16745 ?

[2022-01-06 12:28] cseickel commented on #12
Thank you @shaksiper ! I didn't realize my neovim wasn't up to date. Now I get the error, I'll fix it right away.

[2022-01-06 14:07] cseickel commented on #12
What a mess! I have a real fix in **main** now if you can try it out. I think I will need to revert back to an earlier build of neovim during the workday because so many of my other plugins are broken as well. I'll switch back tonight and do more testing.

[2022-01-06 15:09] levouh commented on #8
+1 on this, having a floating file tree would be awesome.

[2022-01-06 15:19] cseickel commented on #8
Do the eyes emoji mean your thinking about contributing this feature? If so, lay out your plans here so I don't interfere with any changes I end up making in the meantime.

[2022-01-06 17:14] cseickel opened #13 "Add Git Status source"
Just to show all modified files in the current repo. This will always look at the git project root of whatever the cwd is in, and therefore won't have any navigation commands or `bind_to_cwd` option.

It would also be nice to add some stage/unstage/revert commands in this view.

[2022-01-07 01:18] #12 closed

[2022-01-07 01:19] cseickel commented on #12
These fixes have been released in v1.5

[2022-01-07 02:59] cseickel commented on #8
I got started on this because I was curious:
![image](https://user-images.githubusercontent.com/5160605/148484288-e87671be-caf9-449d-908e-8ec8c12d58bb.png)

There is still a fair amount of work in changing the behaviors of the open commands, placement and sizing of the window, when to close it, etc. It turns out it is really not any kind of breaking change though.

[2022-01-07 03:43] FuGangqiang opened #14 "Add symbol and call sources"
[code]

[2022-01-07 05:17] onneva opened #15 "Disable relative line numbers"
Great plugin - thank you!

Is there a way to disable relative line numbers from appearing within the neo-tree window automatically?

[2022-01-07 12:32] cseickel commented on #15
Definitely. I didn't have that turned on by default so I didn't realize that it was not being explicitly turned off for the tree window like normal line numbers were. This will be fixed in the next release.

[2022-01-08 02:26] cseickel commented on #8
Floating windows added in [Release v1.6](https://github.com/nvim-neo-tree/neo-tree.nvim/releases/tag/v1.6)

[2022-01-08 02:26] #8 closed

[2022-01-08 02:26] cseickel commented on #15
Fixed in [Release v1.6](https://github.com/nvim-neo-tree/neo-tree.nvim/releases/tag/v1.6)

[2022-01-08 02:26] #15 closed

[2022-01-08 03:04] FuGangqiang opened #17 "Add `NeoTreeToggle` command"
quickly toggle it through a shortcut key using it

[2022-01-08 15:31] levouh opened #19 "Binding to close current node"
Say that I am in a node like this:

![image](https://user-images.githubusercontent.com/31262046/148649981-aa597bb5-dd81-4f1d-8ee2-553a1e501e13.png)

Being able to press a key and change the tree to this:

![image](https://user-images.githubusercontent.com/31262046/148649998-9ca9aa1a-c514-4426-b629-f897254dc206.png)

(so close the node that the cursor is currently inside of) would be a nice feature

[2022-01-08 16:13] cseickel commented on #17
Will do.

[2022-01-08 16:14] jemag opened #20 "Allow :NeoTreeFloat to toggle the floating window"
Currently calling :NeoTreeFloat twice in a row will try to render it again. I think it would make a lot more sense if it just toggled the floating tree, especially considering the fact that you cannot close it directly with either "Ctrl+w_c" or "Ctrl+w_q" as this results in the following:
Initial state:
![image](https://user-images.githubusercontent.com/7985687/148651374-bef6ba19-fe34-4f21-b3ce-5d

[2022-01-08 16:18] cseickel commented on #19
Interesting. That is easy enough to add.

[2022-01-08 16:28] cseickel commented on #19
@levouh Question: If a directory is currently focused, should it collapse that currently focused directory, or it's parent?

In your example, what happens when you execute `close_node` in the pack directory in your second screenshot?

[2022-01-08 16:49] jemag opened #21 "Ctrl-w to delete word in filter search"
Currently Ctrl-w will go into Normal mode instead of deleting the previous word, which would be the usual Insert mode behavior.

I tried customizing the Filesystem mappings in the following way:
[code]
However I believe this does not work because this mapping is not available inside the "Enter Filter Pattern" popup. Although if it did work, it would also cause problems for when wanting to use Ctrl

[2022-01-08 17:01] cseickel commented on #20
Hit Escape to close the window, or focus another window. I am planning on adding some new Toggle commands that will have the behavior you are looking for.

Also, I notice the border is showing up correctly for you, you may want to switch to `popup_border_style = "rounded"` in your config.

[2022-01-08 17:07] cseickel commented on #21
You are correct in that the mappings only apply to the main windows. Let me ask you this, why not make that a global shortcut for insert mode everywhere?

`inoremap <c-w> <cmd>normal! bcw<cr>`

Then it would apply to the filter input as well.

[2022-01-08 17:50] jemag commented on #21
I can probably go the global shortcut route as suggested. Although there might be situations down the line where it would still make sense to allow this kind of "Telescope-like" customization of mappings, where you can specify distinct Normal and Insert mode mappings for the plugin only.

If you feel this kind of customization is not worth it, feel free to close the issue.

[2022-01-08 17:53] cseickel commented on #21
It's definitely worth having, although not the highest priority unless more people are looking for it. I'll leave it open but change the title to make it more generic.

[2022-01-08 18:03] levouh commented on #19
Apologies for the delay; it would close the focused node if it was open, otherwise close the parent of the current node.

[2022-01-08 20:26] #7 closed

[2022-01-08 20:26] #19 closed

[2022-01-08 22:20] #17 closed

[2022-01-08 22:20] #20 closed

[2022-01-09 00:04] levouh commented on #19
@cseickel thanks for the addition!

Messing with what you pushed on `main` and is works great, however I _sometimes_ run into this issue where closing a node changes the directory of the window and goes to the wrong parent:

https://user-images.githubusercontent.com/31262046/148656119-370545bd-33a7-40f1-9327-9546ff47ba54.mp4

Note that the starting directory (and the one that contains the file) is

[2022-01-09 00:20] cseickel opened #22 "Custom mappings not being used"
User supplied mappings are not overriding the default ones.

EDIT: To be more precise, mappings with special characters, that may have multiple forms or are case insensitive, could create conflicts with default mappings. For example, a mapping of `<BS>` would not overwite the default mapping of `<bs>`, so both would be applied in an unknown order with unpredictable results.

The fix is to normaliz

[2022-01-09 00:22] cseickel commented on #19
I just opened up a bug that I think is the real cause of this issue: #22
Basically, it is not using your custom mappings, and backspace is still running the default command of navigating up. Upper case `C` should give you the behavior you are looking for right now.

[2022-01-09 00:25] cseickel commented on #19
Actually, I already figured it out! change your mapping to lower case. My default config merging is case sensitive.

`<bs>` instead of `<BS>`

I'll fix that of course, but this will get you working immediately.

[2022-01-09 00:46] levouh commented on #19
Awesome, I will give it a try. Thanks for the notes.

[2022-01-09 12:12] max107 opened #23 "use neo-tree as netrw replacement?"
it's possible?

[2022-01-09 14:32] cseickel commented on #23
There is no built in feature to enable this behavior. It could always be added if enough people are interested.

[2022-01-09 14:38] #22 closed

[2022-01-09 15:15] ur4ltz opened #25 "Buffers view should show unloaded buffers as well"
The plugin does not display open buffers after starting a session.

![2022-01-09_13_37_19](https://user-images.githubusercontent.com/920202/148687590-45de947b-5dfc-4492-9efb-0403bda9fee1.png)

NeoTree buffers. (Left)
Telescope buffers. (Front float)

Open nvim session, run any this command
(
:NeoTreeShow buffers
:NeoTreeFocus buffers
:NeoTreeFloat buffers
)
only 1 buffer.

Run
:Telescope buffers

[2022-01-09 16:45] danilshvalov opened #26 "Auto closing when opening a file"
### How it looks like

https://user-images.githubusercontent.com/57654917/148691855-6c097dc1-ee00-4e39-bf92-ce1a3ceaa68e.mov

### Possible implementaion

[`neo-tree/sources/filesystem/commands.lua`](https://github.com/nvim-neo-tree/neo-tree.nvim/blob/v1.x/lua/neo-tree/sources/filesystem/commands.lua)
[code]

[`neo-tree/sources/common/commands.lua`](https://github.com/nvim-neo-tree/neo-tree.nvim/bl

[2022-01-09 17:33] cseickel commented on #26
Interesting idea, and a good implementation. I would consider taking that as a PR, but I do worry about over complicating the internal code with too many configurations.

Have you considered using NeoTreeFloat instead? That already has the behavior you are looking for where the window closes when you open a file. You can make it float to the right with this config:

[code]

That's a little more in

[2022-01-09 17:46] cseickel commented on #25
I see what the issue is. I am only showing **loaded** buffers in this list, while Telescope is including all listed buffers. I think that whether or not to show unloaded buffers should be a configuration option. I'll put this in as an enhancement and work on it soon.

I am going to make the current behavior the default and let you opt-in to showing unloaded buffers as well.

[2022-01-09 18:05] cseickel opened #27 "Add an event system"
This is just a thought right now that needs to be fleshed out. Please comment if you have ideas or suggestions.

Right now the way to customize the behavior of Neo-tree is to override built-in commands or add your own. This works but it requires the user to find and understand the internal implementation, which takes more time than they may want to devote to this. A better, and perhaps safer way w

[2022-01-09 18:08] cseickel commented on #26
Also, take a look at #27 and let me know if you have any thoughts on that.

[2022-01-09 19:52] danilshvalov commented on #26
That would be a great solution.

[2022-01-09 21:00] ioreshnikov opened #28 "Git status is rendered despite being explicitly disabled in renderer"
Hey, guys!

First, many thanks for your work on this plugin. I am a big fan: this is perhaps the most fluid and intuitive tree plugin to date.

Second, I've noticed that git status next to a file is being rendered despite being explicitly disabled by me in the config. Please see the screenshot attached:
![git_status](https://user-images.githubusercontent.com/1098912/148700735-cd4ac524-4afc-4259-a9

[2022-01-09 21:13] ioreshnikov commented on #28
One more thing: when I start neovim and open `neo-tree`, then I also see additional highlighting of the file names (notice the color of `init.vim`):
![Снимок экрана от 2022-01-09 21-52-28](https://user-images.githubusercontent.com/1098912/148701158-7c7029b5-82a0-48ac-ae6e-b976174cdda2.png)
When I evaluate the whole config with `source`, the additional highlighting is gone and all the file names ar

[2022-01-09 21:31] levouh commented on #28
Not that this directly answers your question, but you can also skip the (potentially costly) operation of loading the `git` information by just defining your own custom `before_render` function, and removing the `git` portion entirely. For example, the default has:

[code]

and you can just set it to:

[code]

and then there won't be any state to render in the first place.

[2022-01-09 21:45] cseickel commented on #28
I would definitely recommend @levouh 's suggestion of overriding before_render. But also, I just pushed an update to main that I believe fixes the underlying issue.

[2022-01-09 23:04] levouh opened #30 "Toggle requires two key presses after hiding with <Esc>"
Using the `float` implementation, if I open the tree using something like `:NeoTreeFloatToggle` it will open with the current buffer focused, as expected. If I hit `<Esc>` to close the _NeoTree_ window, I then have to use `:NeoTreeFloatToggle` twice to get it to show up again.

Here is an example:

https://user-images.githubusercontent.com/31262046/148704793-2162b88a-6150-4d83-8894-edd108b9cead.mp

[2022-01-09 23:09] levouh opened #31 "Add more variations for open commands"
If I open the tree with `:NeoTreeFloatToggle`, it will show the current file (which I'm not sure if is intended or not). If I move somewhere else in the tree, hide the tree, then show it again, I am returned to where the file that was focused when first opening the tree rather than the file that I had previously navigated to before closing it.

For example:

https://user-images.githubusercontent.c

[2022-01-10 00:04] levouh commented on #30
A small bit of debugging, the problem is with the call to `renderer.close_floating_window(source_name)`. After using `<Esc>` to close the window, it returns `true` so we just bail out of the `M.float` function early rather than showing the window.

[2022-01-10 00:05] cseickel commented on #31
That is the intended behavior, but I can see how not everyone would want that. The question is, do i just keep adding more commands to cover every variation, or something else? To keep with the current conventions, I should add:
[code]

[2022-01-10 00:09] levouh commented on #30
It works to check `vim.api.nvim_win_is_valid` in the loop inside of `M.close_floating_window` for `renderer.lua`; however editing a list while iterating it is always a fun time.

It might be a good time to do some cleanup though either way, so saving off a list of invalid windows and removing them might be a fine price to pay (multiple iterations of the loop in some cases).

[2022-01-10 00:15] levouh commented on #31
Yea I can see how that start to get a little bit ridiculous. You could try to do what _Fugitive_ and _Telescope_ do and just use a single command that takes arguments that are like `key` or `key=value` so that you can extend it however you need to.

This is basically a "complication layer" on top of a command, but makes it a lot easier (at least before `vim.keymap`) to map.

[2022-01-10 00:16] levouh commented on #30
At this point actually, the window is closed, so `nui` takes care of setting the `win.winid` to `nil`, so that can be used as the check (perhaps along with `vim.api.nvim_win_is_valid`).

[2022-01-10 00:18] cseickel commented on #30
Thanks for the information, I think I've got the optimal solution after reading all of this...

[2022-01-10 00:25] levouh commented on #31
Would this be a good time to expand and support the "any tree" model, such that the commands would be something like:

[code]

as well? The plugin could handle parsing the first argument to direct the rest to the proper tree, then the tree would have to handle what remains?

[2022-01-10 00:30] cseickel commented on #30
Check that commit and let me know what you think.

[2022-01-10 00:41] cseickel commented on #31
I think that's the way to go. I haven't heard of "any tree", is that a design pattern or a vim specific api?

[2022-01-10 00:59] levouh commented on #31
No, just echoing what the `README` notes about:

and the top level keys to `setup`, referencing that really you can render "any tree-like structure" with this plugin.

[2022-01-10 01:03] levouh commented on #30
I've messed something up with the highlights along the way so ignore that (or from switching from `1.x` to `main`), but it works perfectly:

https://user-images.githubusercontent.com/31262046/148708461-febc361c-44d9-435d-a5e4-86e0cf3a2ed7.mp4

[2022-01-10 01:03] #30 closed

[2022-01-10 01:07] levouh commented on #28
@cseickel bisecting a bit, highlights show up (for directories) in `f4ae153b467e5fb716cca114ad4f374d7e54943c`, but do not in `bda5eaeb0d2ec1fbadf7ed691973f082030af2d2`.

Respective pictures:

![image](https://user-images.githubusercontent.com/31262046/148708594-5bcff788-e47e-4109-8f94-d9f026a22a00.png)

![image](https://user-images.githubusercontent.com/31262046/148708585-02a538f8-79a3-4f0d-9dc8-5

[2022-01-10 01:09] levouh commented on #28
Might be something due to the fact that I have my own directory renderer actually, as the files work just fine. Ignore for now.

[2022-01-10 01:40] cseickel commented on #31
Oh right, that's obvious now! I guess I was hoping there some utility to make this task easier.

[2022-01-10 02:41] levouh commented on #31
I'm happy to take a stab at it as well, just let me know. Implementing it would be easy enough, then "just" have to plug it in to the functions that already exist and take arguments.

[2022-01-10 02:44] cseickel commented on #31
I do think I want to deprecate all of the current commands, to be removed in 2.x, and switch to a new single command system of the form:

NeoTree <action> <source> <position> <toggle>

example: `NeoTree focus filesystem float toggle`
or is it easier to use this? `example: `NeoTree action=focus source=filesystem position=float toggle=true`

Where **action** is one of:

- show = show the window, kee

[2022-01-10 02:46] cseickel commented on #31
I just saw your offer to take a stab at it, that would be great! The biggest complication would be that the float methods are currently built around always revealing, so they need to be refactored a little.

[2022-01-10 03:57] #13 closed

[2022-01-10 03:57] #28 closed

[2022-01-10 06:37] yngwi opened #32 "Tree arrow background wrong for Tokyo Night"
Hi,
thanks for your amazing plugin. I'm currently seeing blue backgrounds behind the tree folder-arrows when using the theme Toyko Night (dark).

![image](https://user-images.githubusercontent.com/963440/148726487-5841d5ab-9102-45df-9857-5d4666ce3d48.png)

[2022-01-10 06:43] yngwi commented on #32
Nevermind, somehow it works now :)

[2022-01-10 06:43] #32 closed

[2022-01-10 09:39] ioreshnikov commented on #28
@cseickel Thanks! That have fixed the first issue. The problem with highlight is still there though.

[2022-01-10 10:12] ioreshnikov opened #33 "Toggling neotree two times in a row puts it in a broken state"
Hi!

The steps to reproduce are the following:
1. Open a file in a git directory.
2. Call `:NeotreeShowToggle` to reveal `neo-tree`.
3. Call it one more time to hide it.
4. From now on calling it will give you a stack trace below.

![Снимок экрана от 2022-01-10 11-09-56](https://user-images.githubusercontent.com/1098912/148749140-6d38114b-16ab-4630-826d-436172fe67f0.png)

I am using the latest `ma

[2022-01-10 12:00] #33 closed

[2022-01-10 12:01] cseickel commented on #33
Thanks for reporting! It should be fixed now in both **main** and **1.x**.

[2022-01-10 12:11] ioreshnikov commented on #33
@cseickel yep, fixed, thanks!

[2022-01-10 12:26] ioreshnikov opened #36 "Handle rapid changes gracefully (the curse of vim-rooter)"
Hey!

First of all, thanks for lightning-fast bugfixes! I have another one for you: `neo-tree` behaves inconsistenly when I switch the project using `Telescope project`. How to reproduce:

1. Open any file in a git directory, for example, your neovim config and toggle `neo-tree`.
2. Lauch `Telescope proejct`. As you start typing, `Telescope` will bring the closest matching project as the current s

[2022-01-10 12:28] ioreshnikov commented on #36
Thinking of it, root directory detection might be due to `vim-rooter`, but in any case `neo-tree` reflects the change seamlessly. Big fan!

[2022-01-10 12:32] cseickel commented on #36
Neo-tree does have a `bind_to_cwd` that is turned on by default, which will automatically respond to changes in cwd, and likewise will change the cwd in vim if you change it in Neo-tree.

I haven't used Telescope projects, but I do have it installed so I will test it out.

[2022-01-10 12:52] cseickel commented on #36
It works fine for me, although the cwd does not change as I type in the Telescope window. Can you try removing vim-rooter to see if that is part of the issue?

[2022-01-10 13:01] cseickel commented on #28
@ioreshnikov The highlight for the name is built in to the default "name" component. There are two ways to disable that now:

1. Override the `before_render` function and leave out the utils.get_git_status() call. This is the best way if you are not going to use the `git_status_lookup` it at all.
2. Override the built-in name component with your own version.

[2022-01-10 13:04] cseickel opened #37 "Add options to disable loading git status and diagnostics"
Instead of making people override `before_render`, we can add config options to turn these off if they will not be used.

[2022-01-10 13:44] ioreshnikov commented on #36
@cseickel I was wrong about chaning on typing, actually, it only happens when you select a new project.

Removing rooter does help. Switching to a new project then leaves me with the correct project-specific tree.

With the rooter though, after switching a project I can confirm that `pwd` is set correctly. It looks like `neo-tree` seems to get stuck in some intermediate state when switching. I hav

[2022-01-10 14:48] cseickel commented on #36
That's probably it. I see that the DirChanged event is not debounced and it probably should be. I'll install vim-rooter later and test it out.

[2022-01-10 14:53] mbriggs opened #38 "cursor in float"
Love the plugin :)

When I open the float panel in a buffer not pointing to a file, the popup will show with an invisible cursor

![image](https://user-images.githubusercontent.com/89260/148785752-c2c624cb-3221-4ddf-98e0-efab9d57f193.png)

I can move around, open and close folders, but cursor is hidden.

You can see here, when I open on a file that exists on the fs, the cursor exists (over the ico

[2022-01-10 16:18] jcmuller opened #40 "NeoTree always opens files on the top left window"
I really need to have NeoTree open the file I need in the window that was focused when NeoTree was toggled. Is this something that can be configured?

Thanks a lot!

[2022-01-10 16:22] danilshvalov commented on #38
Which terminal do you use?

[2022-01-10 16:32] danilshvalov opened #41 "Question: maybe formatter should be used?"
What about using [`stylua`](https://github.com/johnnymorganz/stylua)? This makes it easier to contribute in one style.

You (or I in a PR) could just add a `stylua.toml` file in the base of the repo.

 In addition, you can create coding style checks before committing (`stylua --check` for example).

[2022-01-10 16:42] danilshvalov commented on #40
Do you want to reuse the current buffer instead of creating a new one?

Or do you want to open a file in the last used window without a choice?

[2022-01-10 16:56] cseickel commented on #38
Can you check (and possibly set) the value for NeoTreeCursorLine?
[code]

[2022-01-10 17:02] cseickel commented on #40
@jcmuller This is surprisingly tricky, but I can definitely add this as an option. That was my first strategy for where to open a file, but it got complicated once I started adding floating windows.

You can also add your own "open" command and map to that to implement your own window choosing strategy... But if you can wait a day or two I will add this behavior as an option.

[2022-01-10 17:05] cseickel commented on #41
Sounds great! Feel free to submit a PR to main with a stylua config.

[2022-01-10 18:49] mbriggs commented on #38
Alacritty compiled from source in the last few months. But `cursorline` works fine

[2022-01-10 18:51] mbriggs commented on #38
![image](https://user-images.githubusercontent.com/89260/148822217-1cc23531-e208-41e1-953e-ac50188630b2.png)

that appears to be the problem! I was under the impression that cursorline is copied by default

![image](https://user-images.githubusercontent.com/89260/148822297-7ca0b84a-bd21-42f9-956d-45127d05ad45.png)

but that does not appear to be the case

[2022-01-10 20:07] cseickel commented on #38
Curious, that should have linked to CursorLine. I run some tests and see if I can recreate the issue.

[2022-01-10 21:09] smjonas opened #43 "How to behave when neo-tree becomes the only window"
Steps to reproduce:
- open any file
- `:NeoTreeReveal`
- select that same file in the tree and delete it with `d` (the opened file then closes and the only window left is NeoTree)
- select another file and open it with `Enter` (this closes the NeoTree window, not sure why)
- `:NeoTreeReveal`

Expected behaviour: tree viewer should open
Actual behavior: nothing happens, presumably because NeoTree t

[2022-01-10 22:27] mbriggs commented on #38
I tried adding the highlight explicitly, and still see the same behaviour

![image](https://user-images.githubusercontent.com/89260/148848719-baf16247-95f4-46a4-aa7c-b4d8b3460e76.png)
![image](https://user-images.githubusercontent.com/89260/148848747-c8a4357a-f7fa-4002-be6e-5a8ebd42cef7.png)

my relevent configs are here https://github.com/mbriggs/nvim/blob/main/lua/mb/explorer.lua but I am largel

[2022-01-10 23:26] cseickel commented on #38
I'm sorry, there is absolutely a problem with CursorLine in the floating window, I'm not sure how I never noticed this. I'll fix that soon.

[2022-01-10 23:57] danilshvalov opened #44 "New feature: indent guides"
Add the ability to enable indent guides like this:

<img width="301" alt="indent guides" src="https://user-images.githubusercontent.com/57654917/148857712-dbc94222-b8e3-42f0-b9b2-44c9769232fc.png">

I have some developments, so I can open a pull request, if you think it's worth adding this feature.

[2022-01-11 00:14] cseickel commented on #41
Thanks @danilshvalov !
Question: do you have stylua integrated into nvim? What are you using?

[2022-01-11 00:18] cseickel commented on #44
It's definitively worth having. I would prefer they be a component that people can add to their renderers. Is that how you have done this?

[2022-01-11 00:43] cseickel commented on #36
I can't recreate it, but I put in a possible fix. Can you update to the latest in **main** and tell me if it works better?

[2022-01-11 00:46] cseickel commented on #43
I'm not getting this issue, but I also don't understand one thing: what is closing Neo-tree? Following the above steps, it should remain open after a file is opened, so NeoTreeReveal should do nothing but focus the already open window.

[2022-01-11 02:07] cseickel commented on #28
FYI, a better solution for this will becoming in #37.

[2022-01-11 02:13] cseickel commented on #31
@levouh Just so I know how to categorize this on the new project board, are you working on this?

If you are, be warned we added stylua to the project which made minor changes to every file. It can be a merge nightmare you probably want to get ahead of before making too many changes.

[2022-01-11 02:17] levouh commented on #31
Everything I've added so far is in new files, so as soon as you push I can go from there. Having `stylua` will be nice! Also something like `luacheck` would be cool.

FYI as well, I added testing using the module that `plenary` provides in my branch.

[2022-01-11 02:37] levouh commented on #41
I would recommend using `null-ls`.

[2022-01-11 03:26] cseickel commented on #31
Adding tests would be great, thanks!

luacheck style warning are already running from something in my config, maybe the language server. Feel free to open a PR for  a config or an action if you want.

[2022-01-11 10:26] ioreshnikov commented on #36
@cseickel unfortunately it's still there. Is there some sort of logging I can enable to help debug this?

[2022-01-11 10:30] smjonas commented on #43
I have updated the reproduction steps

[2022-01-11 10:43] ioreshnikov opened #45 "Automatically expand path to the active file"
Hey!

Is there a way to make `neo-tree` automatically expand the directory nodes to the currently edited file? For example:

1. `neo-tree` is showing `~/.config/nvim` with all directories collapsed. The currently edited file is `init.nvim`
2. I open a new file with `:e after/ftplugin/html.vim`
3. `neo-tree` automatically expands the directories `after` and `ftplugin` to show the currently edited f

[2022-01-11 12:04] danilshvalov commented on #41
I use a [`formatter.nvim`](https://github.com/mhartington/formatter.nvim) with the following config:

[code]

[2022-01-11 12:11] danilshvalov commented on #44
It's possible, but I need to add new fields to the node (for example I use fields from [`renderer.lua`](https://github.com/nvim-neo-tree/neo-tree.nvim/blob/v1.x/lua/neo-tree/ui/renderer.lua)):
[code]

[2022-01-11 12:25] cseickel commented on #43
Oh I understand now! The true issues are:

1. How to handle the situation where Neo-tree is the only window.
   a. I think it should open the file with split in that situation, regardless of whether the user explicitly choose split now not. This would conflict with some people's desire to have a netrw style behavior, so it needs to be configurable.
  b. Another option is to just create a new blank

[2022-01-11 12:45] cseickel commented on #45
Not yet, but it would not be that difficult to add a "follow" option. The question is, what happens when the **follow** feature opens a folder to reveal the current file, and then you navigate to another file in a different folder?

A. Should the prior automatically opened folder close to leave only the current file path and any manually opened folders?
B. Should it leave open any folders that wer

[2022-01-11 13:10] cseickel commented on #44
The hard part about this is to make it in a way that is open ended and configurable. Here is what I am thinking right now:

1. We add the two properties, but call the second one `is_last_child` to be more explicit.
2. We add a config option for a special component called "**indent_renderer**" which follows the interface of a component but is at the global config level. That component has options f

[2022-01-11 13:12] cseickel commented on #44
... and your specific config there could be an example in the README or the wiki.

[2022-01-11 13:18] cseickel commented on #36
There's no logs. I should probably add a log system with log levels that can be adjusted though, right now I just add and remove print statements when I hit a difficult problem.

When I think about this, the filesystem is scanned async but there is no lock mechanism on the renderer.  I definitely need to add one, and that may fix the problem.

[2022-01-11 13:23] cseickel commented on #45
I just realized you already thought and answered my question in your original description: option A. I am going to pin this issue to see if anyone else has a different opinion they want to add.

[2022-01-11 15:46] ioreshnikov commented on #45
@cseickel The way I see it, if the user decided to manually expand a directory, then they did it intentionally and it would be great if any automatic behaviour respected this intent.

I didn't read the current code that you have, but I imagine that the directory nodes in the tree have an `open/closed` flag that is used  when rendering the buffer. If this guess is right, then I think it should be p

[2022-01-11 15:53] ioreshnikov commented on #36
@cseickel it's ok, I can probably just install a logger plugin globally (my config needs one anyway). Can you please point me to a place in code where you listen for the directory changes?

[2022-01-11 15:58] cseickel commented on #45
I am using NuiTree so that state is internal to the control. Of course, I can add my own property to start tracking this extra state on my own. I do already collect open folders and re-open them on every refresh or navigation to a new root.

In theory this does not sound to difficult, but my spidey sense is tingling on this one. There's a lot of potential for bugs in this type of feature.

I would

[2022-01-11 16:03] cseickel commented on #36
Sure, this code get's called on the DirChanged event: https://github.com/nvim-neo-tree/neo-tree.nvim/blob/517dd67b4cb44ea419f46070a81d1662fbf08669/lua/neo-tree/sources/filesystem/init.lua#L68

The autocmd is setup here: https://github.com/nvim-neo-tree/neo-tree.nvim/blob/517dd67b4cb44ea419f46070a81d1662fbf08669/lua/neo-tree/sources/filesystem/init.lua#L268

[2022-01-11 17:10] smjonas commented on #43
Here are my thoughts about your first point:
The way other plugins like `fern.vim` handle it is that the tree sidebar becomes a fullscreen window once an open file was deleted. Selecting a file afterwards simply opens that file in a new buffer (fullscreen) and closes the sidebar. However, I agree this is not optimal because the user will expect that the sidebar remains open to do further file-rela

[2022-01-11 21:15] ioreshnikov commented on #36
@cseickel actually, I'm and idiot and completely missed that I was cloning branch `1.x` instead of `main`. It's still broken but in a weird way: now it switches to the new directory, but not immediately. There's now a lag of about one second. And it's not guaranteed to work either. Sometimes it's still stuck in the old directory.

I will try to collect the log.

[2022-01-11 21:23] cseickel commented on #36
The delay makes sense. I added a big debounce of 1 second on DirChanged just to be extra safe. Maybe it could still be multiple tree renders clobbering each other, but I have no idea if nvim does or does not have any built-in locks when writing to buffers. If it does not, I need to add my own.

[2022-01-11 22:15] ioreshnikov commented on #36
So this is what I got. At this point I am in Telescope and switching from `.config/nvim` to `neo-tree` source directory. The new project is already selected and the cursor is on `README` file. When I press enter, those are the calls that I see:

[code]

It looks to me as if for a split second after closing Telescope vim switches to the old buffer `init.vim` before it is being replaced by the `READ

[2022-01-11 23:58] danilshvalov commented on #44
I think this is the best option. I will create a pull request with indent guides this week.

[2022-01-12 00:17] cseickel opened #47 "Fix references on rename and move"
Use the LSP when available to fix references after (or before?) a file is moved or renamed.

https://github.com/jose-elias-alvarez/nvim-lsp-ts-utils/blob/main/lua/nvim-lsp-ts-utils/rename-file.lua

[2022-01-12 00:21] cseickel commented on #36
This bugs me and I am still going to leave this open until I fix what I think is the problem. Feel free to uninstall rooter though!

[2022-01-12 01:41] cseickel commented on #36
Last try and then we just close it. At the very least I feel like the code is better now because of this investigation. If you wouldn't mind, can you test on more time with the latest in main?

[2022-01-12 03:12] #25 closed

[2022-01-12 03:12] #41 closed

[2022-01-12 03:12] #36 closed

[2022-01-12 03:12] #37 closed

[2022-01-12 03:12] #38 closed

[2022-01-12 03:12] #40 closed

[2022-01-12 03:12] #43 closed

[2022-01-12 03:17] mbriggs commented on #38
working, thank you @cseickel :)

[2022-01-12 09:48] smjonas commented on #40
Thanks for fixing this so quickly, it works great!

[2022-01-12 09:49] smjonas commented on #43
Thanks for fixing this so quickly, it works great!

[2022-01-12 10:20] ioreshnikov commented on #36
I guess this is as good as it gets. I still can see it switching to the old root for a split second before drawing the new one, but otherwise it works. We should probably add a note to the documentation somewhere so people do not report this blinking as a bug.

[2022-01-12 13:25] cseickel commented on #36
Awesome!

To me, it's working exactly as it should. It faithfully follows the DirChanged event, drops intermediate events when they are being fired quickly, and then ends up where it should at the end. The important thing is that it ends up where it should at the end of the storm.

We could certainly delay the first event as well which would look nicer in this particular situation, but then all ac

[2022-01-12 14:41] jcmuller commented on #40
Yes. That. Thanks!

[2022-01-12 20:39] ur4ltz commented on #25
Thanks!

[2022-01-13 10:03] ioreshnikov commented on #36
BTW, yesterday I switched Telescope to a different layout (it's `bottom_pane` now) and the problem completely disappeared even when I install `vim-rooter` back. Go figure.

[2022-01-13 12:16] cseickel commented on #36
Very weird. Software makes no sense sometimes.

[2022-01-13 14:55] jcmuller opened #48 "Can't filter"
Any time I attempt to filter the tree I get

[code]
I added a check for `item.name`'s presence. The error is gone, but the filtering doesn't yield any results.

Any idea of what I'm doing wrong?

Cheers

[2022-01-13 17:27] cseickel commented on #48
Maybe it's something about the particular items in the directory you are working with. Can you try different directories? If you've forked this repo, is the cwd set to the root of the repo?

[2022-01-14 03:03] mbriggs opened #50 "Arrow Background is incorrect"
Hi :)

I got this intermittently before, now it is constant https://github.com/nvim-neo-tree/neo-tree.nvim/issues/32

![image](https://user-images.githubusercontent.com/89260/149444415-ccb94d6d-2a4a-4087-8536-819db13719df.png)

other icons seem fine.

When I got it intermittently, a second PackerCompile would confusingly make it go away (I would think that would be deterministic). Now it is sticki

[2022-01-14 03:55] cseickel commented on #50
Is your theme is applied via packer? If it is, then maybe the highlight groups are affected by the order in which plugins are setup.

The highlight group being used for this is `NeoTreeDirectoryIcon`, which will default to linking to `TabLineSel` if that group exists and has a background or foreground set. Can you check what the value is with `:hi NeoTreeDirectoryIcon`?

This will set it to the de

[2022-01-14 04:00] tristone13th opened #51 "Not showing git status on filesystem source on Windows"
My configuration:
[code]
Actual behavior:
![c550de978b211a6d58df20db64f2981](https://user-images.githubusercontent.com/17382962/149449330-9de2967d-bb3b-42d2-ac8a-d2bc3ade5a4f.png)

[2022-01-14 04:02] mbriggs commented on #50
yup

I tried changing the order, but maybe I screwed it up. I am using https://github.com/navarasu/onedark.nvim

![image](https://user-images.githubusercontent.com/89260/149449413-a305259e-1361-42b0-a544-94682300582f.png)

that fixes it :)

1.x

[2022-01-14 04:06] cseickel commented on #50
OK, you'll want to set that highlight group somewhere in your config. Maybe TabLineSel was a bad choice to link to!

In the next release, I'll just set it to the setting I gave you instead of trying to link to something.

[2022-01-14 17:28] jgottzen opened #53 "Add symbolic link targets"
Would you be interested in a pull request adding a component for showing the target of symbolic links?

This is one feature I miss from nvim-tree.

This is how it would currently look:
![screenshot_2022-01-14-18:01:06](https://user-images.githubusercontent.com/905941/149558550-48e2d8fa-fa31-4892-a0c7-256cefc43ef9.png)

[2022-01-14 18:09] cseickel commented on #53
Absolutely! In this case, I would say that it would be good to put the component in the examples as a commented out component rather than enabled by default. As we gather more components that are not in the default config, we'll probably add a wiki page to list them all with screenshot examples.

Also, please make sure your PR is targeting main, which is ahead of the the default branch (1.x).

[2022-01-15 01:43] #27 closed

[2022-01-15 01:43] #50 closed

[2022-01-15 01:51] #53 closed

[2022-01-15 01:59] cseickel commented on #26
The event system defined in #27 has been released, see the docs for details. You can auto close when opening a file by adding this event:

[code]

[2022-01-15 03:13] jcmuller commented on #48
I've tried this across many directories, across two computers.

1. I believe it did the very first time I tried the plugin about 10 days ago.
2. Linux
3. I do have both fd (fdfind) an find.

Though, on this computer I am getting a different stack trace (running against latest version of your plugin):

[code]

ah. After commenting out the problem loop, the original error comes back:

[code]

Ah. Ch

[2022-01-15 03:46] cseickel commented on #48
Thanks for the detailed analysis. That error should definitely be bubbled up, and I should check versions of programs and adjust the commands accordingly. I'll take a look at this now.

[2022-01-15 15:10] #48 closed

[2022-01-15 15:22] cseickel commented on #48
This should be fixed now even if you don't manually specify a `find_command`. I also fixed the logging problem which could have been a problem in lots of situations.

Thanks again for the detailed bug report!

[2022-01-15 15:32] cseickel opened #60 "Improve documentation (suggestions welcome)"
Basic usage is OK, but we need much better documentation on how to customize Neo-tree.  I think the wiki is the place for this.

Things to document include:

- [x] Basic overview of all the ways it can be customized, with example use cases for each one
- [x] List all built-in components along with their config options
- [x] Full explanation of components and renderers
- [x] Full explanation of map

[2022-01-15 16:00] cseickel commented on #26
I added this recipe to the wiki so I am going to call this one closed.
https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Recipes#auto-close-on-open-file

[2022-01-15 16:00] #26 closed

[2022-01-16 20:19] cseickel commented on #45
This just landed in **main** and it works exactly as you originally requested. To turn it on, add this option to your config:

[code]

If you get a chance to try it out before it is released to 1.x, let me know if it is working as expected.

[2022-01-16 20:34] ioreshnikov commented on #45
@cseickel Holy cow it's cool! It works exactly as I saw it! Many thanks, great!

[2022-01-17 05:24] levouh opened #65 "[Bug] Only floating window would remain after deleting buffer"
Filing for later, will likely poke at this myself.

After deleting a file in the tree (floating state), if the buffer deleted is the only other window open, we get an error noting the title of this issue.

[2022-01-17 13:38] cseickel commented on #65
What should happen in this case? Would you replace the last window with a blank buffer?

[2022-01-17 15:23] cseickel opened #66 "Files sometimes open in wrong tab"
The is due to the "use last window" behavior. If the last window was in another tab, that's where the file opens. The behavior should be use the last window for the **current tab**, or open a new one.

[2022-01-17 17:07] cseickel commented on #2
This is in main now. If anyone tries it out, please provide feedback!

[code]

[2022-01-17 19:16] #2 closed

[2022-01-17 19:16] #45 closed

[2022-01-17 19:16] #66 closed

[2022-01-17 20:51] cseickel opened #69 "Refactor common functionality for sources"
In 1.0, sources only had to implement a few simple methods and there was no real shared functionality. Now we have gotten to the point where there is, or should be, a lot of shared code between them.

Most of my life this would mean "extract a base class and/or interface", but I'm not sure if that's the right way to go here. Partly because lua has a pretty shoddy class and type system, but also be

[2022-01-17 23:23] cseickel opened #70 "Add libuv watcher for current git project"
This will enable auto updating of git status like we have with diagnostics. I think we can just watch `project_root/.git/index` and refresh the status whenever that changes.

[2022-01-18 04:10] levouh commented on #65
Either an empty buffer or the "next" buffer in the current tabpage would work.

[2022-01-18 04:23] levouh opened #71 "[Feature/Bug] Show hidden files by default"
Using the following configuration:

[code]

I observe that when trying to try to expand a node for a directory that contains only hidden files with `<CR>`, nothing is expanded. The behavior of:

[code]

is strictly related to filters (e.g. `/`), correct? Or is there a bug there and setting `show_hidden = true` should actually do what is noted here? As it stands right now, without using the (defaul

[2022-01-18 04:26] levouh commented on #60
I think using [md2vim](https://github.com/FooSoft/md2vim) would make this super easy, as you get "viewable" markdown files for those using the web, and direct translation into Vim help docs with zero effort.

[2022-01-18 08:07] raj-magesh opened #72 "[Typo] Quickstart documentation in README"
In the configuration section, the line containing `["gc"] = "git_commit"` has a missing comma.

[2022-01-18 08:14] shaffaaf-mohe opened #73 "I want to use / to search text as done in vim."
I want to use / to search text as done in vim instead of the filter now being done. Changing key to "F" does not remove default keymap. Instead it maps both "/" and "F" to filter.

[2022-01-18 10:39] ioreshnikov opened #74 "`neo-tree` is stuck when switching between splits in the presence of `vim-rooter`."
Hi!

I've found another issue with `vim-rooter` on the most recent `main` branch. The sidebar is not feeling well if you jump between the panes that belong to different projects. Here's how to reproduce it:

1. In a fresh nvim session split your window into two vertical splits and toggle `neo-tree` sidebar.
2. In the first split open a file from project P1 (let's say `.config/nvim/init.vim`). In t

[2022-01-18 12:08] jgottzen commented on #71
Though it's not documented, and I'm not sure if it is intentional or not, you can achieve this by adding this to your config:

[code]
That is the flag the `H` toggles.

[2022-01-18 12:39] cseickel commented on #71
@levouh The behavior of the "filters" section of the config actually applies to both browsing and the search mode. It may have been clearer to call the search functionality search instead of also referring to it as filtering. As far as I can see, this is working as intended.

[2022-01-18 12:42] cseickel commented on #60
I think that is a great idea @levouh !

[2022-01-18 12:54] cseickel commented on #73
Sorry, this should have been documented. You can override the built-in mapping by re-mapping it to something that is neither a valid string or a function. I would suggest one of these mappings:

[code]

I meant to support `nil` as a means of removing the built-in mapping as well but that doesn't seem right now. I will fix the documentation to include this.

[2022-01-18 13:20] cseickel commented on #74
I think this may be the intersection of the `follow_file` option with vim-rooter. I'll test it out tonight.

[2022-01-18 14:22] jgottzen commented on #71
@cseickel The `show_hidden` is actually toggled directly on the state object, not on `state.filters`:

https://github.com/jgottzen/neo-tree.nvim/blob/8a2d3e86638bfeaf2e97d18063b480d247992955/lua/neo-tree/sources/filesystem/commands.lua#L97-L100

and

https://github.com/jgottzen/neo-tree.nvim/blob/8a2d3e86638bfeaf2e97d18063b480d247992955/lua/neo-tree/sources/filesystem/lib/fs_scan.lua#L104-L109

[2022-01-18 14:32] levouh commented on #71
Gotcha, this was the issue. I only saw the text `show_hidden` under the `filter` table, thanks @jgottzen!

@cseickel I'm happy to submit a mini _PR_ to document this, but would it be easier to do on #60 if the docs method is being reworked?

[2022-01-18 15:05] cseickel commented on #71
Good catch @levouh and @jgottzen! This is the sort of thing I tend to miss because I generally stick with the defaults. The documentation is wrong in this case and I would consider that a bug. Bugs always get fixed first in my book, so I wouldn't hold this up for a larger documentation effort.

PRs are welcome!

[2022-01-18 15:12] cseickel commented on #71
To make things more confused, I see that the filter feature (search) is using the flags within in the `filter` table as documented. Browsing and filtering should use the same flags, so there is a code change here.

I think the correct thing to do is to make both situations use the flags within the `filter` table to align with the documentation.

[2022-01-18 15:17] jgottzen commented on #71
@cseickel Ok, I can do a PR for that, if you want?

[2022-01-18 15:30] cseickel commented on #71
That would be great, thanks!

[2022-01-18 15:54] cseickel opened #76 "Add merge check to prevent PR merges to release branches"
Github branch protection does not seem to cover this situation. I want to ensure that all PRs must be targeting the **main** branch and only the **main** branch. I can easily forget to check and accidentally merge a PR directly to a release branch.

[2022-01-18 15:57] #71 closed

[2022-01-18 16:44] cseickel opened #77 "Add testing"
We really need to add a full suite of tests to this project, which can be run both locally and as a merge check. A handful of tests were created in #61 using plenary, which looks pretty good.

What needs to be tested?

- [ ] Every documented config option should do what it says
- [ ] Every bug fix should include a regression test (maybe just for future fixes?)
- [ ] All variations of vim commands

[2022-01-18 17:25] jgottzen opened #78 "respect_gitignore is not working correctly"
At least as how I would expect it to.

The `plenary.scandir` `respect_gitignore` flag filters out entries in the current scan IFF a .gitignore file is present in the root of the path it scans. The `do_scan` function in `fs_scan.lua` scans with a depth of 1, so each time a folder is opened, a new scan is done with the path of that directory, which has the effect that a .gitignore in the root direct

[2022-01-18 18:21] cseickel commented on #78
I had noticed some quirky behavior here but I never dug in enough to realize what the issue is.

We definitely don't want to scan the whole tree recursively from the root because lots of people (me included) have some deep folder structures, especially if you go up to the home folder or higher.

I think what I would do is to create and store a gitignore filter on every new scan (without a parent_i

[2022-01-18 20:27] jgottzen commented on #78
What I have right now just checks the root directory for a .gitignore file, but as you mentioned this doesn't handle a lot of cases. I'll create a draft PR with what I have right now, and we can discuss how to handle those.

[2022-01-19 01:56] #74 closed

[2022-01-19 01:56] #72 closed

[2022-01-19 01:56] #73 closed

[2022-01-19 10:58] ioreshnikov opened #79 "NeoTreeShow is broken in the latest main"
Hi!

Just updated to the latest `main` (`b580e39`) and `NeoTreeShow` command seems to be broken. `NeoTreeReveal` still works and `NeoTreeShowToggle` is still correctly closing the side-panel.

Best,
Ivan

[2022-01-19 12:28] cseickel commented on #79
It works for me, can you provide your config? Do you get any errors?

[2022-01-19 13:04] cseickel commented on #79
I figured it out, it's broken when using the `follow-current-file` option. I'll fix it.

[2022-01-19 23:04] cseickel commented on #79
This should be fixed in **main** now. Can you give it a try and let me know if you see any more issues?

[2022-01-20 00:26] #76 closed

[2022-01-20 13:05] ioreshnikov commented on #79
Weird thing: it opens the first time, but if I do an open-close-open sequence, then I get an error `invalid window id: 1012`. And it's always 1012 for some reason as well. `NeoTreeRevealToggle` still works, though.

[2022-01-20 13:31] cseickel commented on #79
I get that too, different window id, but same idea. I'll figure it out.

[2022-01-21 01:39] cseickel commented on #79
That issue is fixed now, let me know if you find anything else.

[2022-01-21 15:35] ioreshnikov commented on #79
Yes, it's fixed! Thanks!

[2022-01-21 15:50] #79 closed

[2022-01-22 03:33] cseickel commented on #70
This just doesn't work. I think polling is the only option to capture git changes not caused by file actions in nvim.

[2022-01-22 03:34] #70 closed

[2022-01-22 03:41] #51 closed

[2022-01-22 16:53] nyngwang opened #84 "Is it possible to move the floating tree to the right?"
As title 🥺

[2022-01-22 17:03] cseickel commented on #84
Yup, here's an example, it's actually the config that I use for floating:
https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Visual-Customizations#float-right

[2022-01-22 17:05] nyngwang commented on #84
@cseickel: You guys are so awesome! I just decided to migrate from nvim-tree.lua to here :)

[2022-01-22 17:11] nyngwang opened #85 "Is it possible to make `open_vsplit`, `open_split` to open on `right`, `bottom`?"
As title.

Why? Because creating new splits on right/bottom is the default behaviour on Tmux. I want to sync. my experience. I highly hope this is possible 🥺

## Debug info.

#### NVIM Version
[code]

[2022-01-22 17:21] nyngwang opened #86 "Feature Request: Excluded path for `filter_on_submit`, `filter_as_you_type`"
As title. This is a must-have I promise. The current situation is that in both cases some stupid folder like `~/Library/` will be scanned and cause the entire tree to get frozen & my computer very hot!

## Debug info.

#### NVIM Version
[code]

[2022-01-22 17:29] nyngwang opened #87 "Warning on open: `[WARN] .../neo-tree.lua/lua/neo-tree/ui/renderer.lua:450: Invalid mapping for %s: %s S nil`"
<img src="https://user-images.githubusercontent.com/24765272/150649157-2ea68e52-b267-4a09-83d2-a3a9f2e7ac3a.png" width="1000">

Error message to copy:

[code]

I have tried this, which doesn't work:

[code]

## Debug info.

#### NVIM Version
[code]

[2022-01-22 17:38] cseickel commented on #87
Have you defined custom mappings where S is assigned to nil?

[2022-01-22 17:41] nyngwang commented on #87
Exactly.

[2022-01-22 17:44] nyngwang commented on #71
In case you might have forgot: the README.md has __NOT__ been updated!

[2022-01-22 17:48] cseickel commented on #86
It's a good idea, the question is how exactly to do this.

I like the idea of excluding glob patterns, but there can be a lot of variation of what each system's built in fd/find/where command will support. Since I am only testing on my own system, I would prefer to just give people the ability to add their own arbitrary arguments to be injected into the find command we ultimately execute. That wou

[2022-01-22 17:51] cseickel commented on #85
Yes. The question I am trying to answer for myself is: is this a documentation/how-to issue or a feature request.

One way this can be handled is by overriding the built-in "open_split" and "open_vsplit" commands. I'll put up a recipe in the wiki at some point today.

[2022-01-22 17:52] cseickel commented on #87
That should work without errors. This must be a bug, I'll take a look.

[2022-01-22 17:54] nyngwang commented on #86
I was thinking about the same! Currently, you provide a string `filter_on_submit`, I was thinking about passing a lua function with some parameter:

[code]

But it's hard to imagine for some cases like `filter_on_submit`, because it is the problem root.

[2022-01-22 17:56] cseickel commented on #71
@nyngwang I don't think it needs to be. This issue morphed from a request to change the default behavior to a bug fix becuase the code didn't match the existing documentation. The final fix was to update the code to match that documentation but leave the defaults alone.

[2022-01-22 18:03] nyngwang commented on #85
This is something I did for my own plugin facing a similar issue:

https://github.com/nyngwang/NeoZoom.lua/blob/caa644400b0853e986121fc1a9bb9ced58dd95bc/lua/neo-zoom.lua#L58

[code]

[2022-01-22 18:04] cseickel commented on #86
Recreating the entire command in this case would be a lot of work because it's definitely the most complicated one. I was thinking of adding this as a simplier configuration option, alongside other filter options:

[code]

[2022-01-22 18:07] nyngwang commented on #86
@cseickel: I like this one. I use another plugin has a similar design and it works very well. Here is my config for reference to the structure:

[code]

[2022-01-22 18:18] nyngwang commented on #71
@cseickel: How to show the hidden files by default in the current version? In my current case only If the current buffer is a hidden file then all hidden files/dirs are revealed. Should I need to hit `H` manually every time I open `nvim` from my terminal?

[2022-01-22 18:25] nyngwang commented on #86
@cseickel: Is it possible to use the plain-old built-in `/` to highlight the keyword I want to search inside the file tree? While I think the problem is that I will only use floating version. Is this possible?

[2022-01-22 18:28] cseickel commented on #71
Here is how to change the option and always show hidden files:

[code]

[2022-01-22 18:30] cseickel commented on #86
You are supposed to be able to map "/" to "none" to go back to the built-in vim search. I'm not sure if that will work based on your other bug, but it definitely will after I fix it.

[2022-01-22 21:37] cseickel commented on #87
As it turns out, it is all working as expected, it is just a nuisance warning that should not be there. You can ignore it for now, I'll remove it in the next release.

[2022-01-23 00:50] cseickel commented on #85
As it turns out, I needed to add something to allow overriding in a reasonable way. If you are willing to try out the **main** branch, you can now handle a new "file_open_requested" event and implement your own window picking logic. Here is an example that recreates the complete built-in logic, it should be a good starting point for you to customize it:

[code]

[2022-01-23 00:55] levouh opened #89 "[Bug] Cannot :tabnew from neo-tree buffer"
Using a minimal configuration such as:

[code]

located in something like `/tmp/neo-tree.lua`, perform the following:

1. `nvim --noplugin -u /tmp/neo-tree.lua`
2. Open a file somewhere in the current working directory
3. `:NeoTreeFocus`
4. `:tabnew`

Observe that no tab is actually opened, and the `neo-tree` buffer is now closed.

---

Is this reproducible for others?

[2022-01-23 00:59] cseickel commented on #89
Confirmed.

[2022-01-23 01:01] levouh commented on #89
Doing `:9verbose tabnew` shows what all is being triggered, although I'm sure you might already have some ideas.

[2022-01-23 01:12] cseickel commented on #89
Yeah, it is a problem with the logic that prevents other buffers from stealing neo-tree's window. I just need to figure out the right logic for new tabs.

[2022-01-23 01:13] levouh commented on #69
@cseickel I've been _mostly_ trying to keep up with this one, but wanted to confirm with you before continuing #31. You think it is in a good enough state for further iterations there?

[2022-01-23 01:46] cseickel commented on #89
This also pointed me to a much more serious bug when opening a file with neo-tree as the only window, it created a never ending loop of new splits. I'm going to push this fix right out to v1.x very soon.

[2022-01-23 01:49] cseickel commented on #69
Yes @levouh, I think this is solid now and I'm happy with where it ended up. I'm actually about to release it.

[2022-01-23 02:01] #69 closed

[2022-01-23 02:01] #85 closed

[2022-01-23 02:01] #87 closed

[2022-01-23 02:01] #89 closed

[2022-01-23 07:55] nyngwang commented on #87
Just confirmed this works, thanks for your fix :)

[2022-01-23 08:06] nyngwang commented on #85
Is it possible to keep the floating tree open after the file get open in either existing windows or a new window under the current tab?

[2022-01-23 10:58] nyngwang commented on #71
Maybe you could document this in the README.md? Thanks for your helps!

[2022-01-23 13:12] cseickel commented on #85
I gotta say no to that one. If you want the tree to stay open, then you don't want a floating window! That's is what a sidebar is for. If you just want it on the right hand side, you can set the filesystem.window.position to "right" in your config.

[2022-01-23 13:15] cseickel commented on #71
Sure. I was thinking that it was already there but now I realize it's only in the vim help file. I'll include in the readme for the next release.

[2022-01-23 13:42] nyngwang commented on #23
@cseickel  When I run `nvim MyFolder` it's netrw be opened. I would like to have neo-tree to be opened.

[2022-01-23 13:56] cseickel commented on #23
@max107 @nyngwang @danilshvalov
Question for anyone following this issue, now or in the future: If Neo-tree opens when you open a directory in nvim instead of netrw, what then happens when you open a file from the tree?

A. The current behavior, which is to create a split for the file you open and make Neo-tree a sidebar.
B. Behave like netrw and have the file take over the current window.

Second

[2022-01-23 13:57] nyngwang opened #91 "I need to know the `filetype`/`buftype` of the floating `y/n` window"
As title. I use another plugin that will auto-resize a buffer/window if it's not in the excluded list. In this pic. the `Enter name for new ...` floating window got resized to a big one:

<img src="https://user-images.githubusercontent.com/24765272/150681918-1c5db659-db13-47ed-ac20-5996714879d7.png" width="700">

[2022-01-23 14:13] nyngwang commented on #91
OK, I just resolve it myself with this settings in another plugin:

[code]

I think it will be better to set a informative filetype for these little floating window, instead of a blank one.

[2022-01-23 14:15] cseickel commented on #91
I'm not setting any filetype/buftype, but I really should and will. I think filetype because is easier to target with autocmds. This is a quick fix.

On a side note, why would you want a plugin that resizes windows on you? What windows are you resizing?

[2022-01-23 14:17] nyngwang commented on #91
https://github.com/beauwilliams/focus.nvim

The reason is simple: the golden ratio works.

All windows that under the same tab.

[2022-01-23 14:21] nyngwang commented on #85
@cseickel: The reason I want to use floating tree is that it won't mess-up my timely organized window-layout. The current problem of `open` is that I cannot select with window to open the buffer I selected(or hovered by my cursor.)

[2022-01-23 14:27] nyngwang commented on #23
My cases is not considered: Most of the time I prefer to run `nvim project` instead of `nvim proj_file`. I will provide my opinion once this is considered.

[2022-01-23 14:44] cseickel commented on #91
That's actually quite interesting! I had tried to solve the same problem myself by making a tiling window manager with a large "main" window on the left and a stack of smaller windows on the right that I would move other windows into when I wanted to focus them. It worked but this is a better idea, resize in place rather than move.

That plugin should really ignore all floating windows by default.

[2022-01-23 14:49] cseickel commented on #85
If it helps, there is also a `open_files_in_last_window` option. It will use the last focused window as the target for open commands. My current project is to improve the documentation...

[2022-01-23 15:05] nyngwang commented on #85
@cseickel: Wow, let me try it now! And thanks for your effort XD, I also delayed the update of README.md on my own plugin...

[2022-01-23 15:11] cseickel commented on #23
@nyngwang I think what you are saying, based on this and other conversations, is that you want to fluidly move between netrw style, sidebar, and floats depending on the situation. Is that accurate?

I don't think I posed the first question clearly. Let me restate to make sure there is no misunderstanding:

1. You open nvim with `nvim project_folder`
2. The only window is Neo-tree, opened to the fo

[2022-01-23 15:17] nyngwang commented on #85
Now I got warning:

[code]

while this is my settings:

[code]

[2022-01-23 15:20] nyngwang commented on #23
The problem of nvim-tree.lua is that it **doesn't** provide a floating tree so in my past experience with it this is now that accurate.

[2022-01-23 15:21] cseickel commented on #85
Oh, sorry for the confusion, it is an option, not a command. You can leave `<tab>` and `<cr>` mapped to `"open"`, but add this into your config:

[code]

[2022-01-23 15:34] cseickel commented on #23
That was the missing piece of information that was confusing me! Wouldn't it be more efficient if step 2 was changed so that:

1. You open nvim with nvim project_folder
2. **There is an empty buffer, with Neo-tree also open and focused in your preferred position, as specified in your config** (left, right, or float)
3. You find the file you want to open and open it.
4. Nothing unusual happens here

[2022-01-23 15:38] nyngwang commented on #23
@cseickel: I like this one :) I think people would like to see everything organized "their-way" before making the first decision too!

[2022-01-23 15:43] nyngwang opened #92 "Something need to be updated to README.md"
Here are things (caused by me) that need to be added to the README.md:

- `excluded_filetypes = { 'fzf', 'neo-tree', 'packer', '' }, -- the last one resolved this issue.`, #91
    - Context: floating window current don't have a name. I think it will be better to set an informative filetype for these little floating windows, instead of a blank one ''
- `require("neo-tree").setup({ open_files_in_las

[2022-01-23 15:53] cseickel commented on #23
OK, here's a proposal on how to handle these requests:

- Add a `hijack_netrw` option that makes Neo-tree handle opening directories
- In that situation, Neo-tree will open as specified in your config
- Add a new window.position value as an option in that config: `in-place`, meaning netrw style in the same window where it was called from
- Include new vim command variations that allow overriding y

[2022-01-23 15:58] nyngwang opened #93 "Feature Req.: Is it possible to show indent-line for the filetree?"
As title. Just like the one nvim-tree.lua did.

<img src="https://user-images.githubusercontent.com/24765272/150686972-d6f55929-bf68-4fe5-a16f-401c382481e6.png" width="200">

Not related to the title: I also expect a way to customize the folder icon, please 🥺

[2022-01-23 16:28] cseickel commented on #93
This is a duplicate of #44 which is in progress.

The folder icon can be customized, see the help file at `:h Neo-tree-Configuration`

You just need to specify a custom renderer for directory:

[code]

[2022-01-23 16:29] #93 closed

[2022-01-23 16:47] nyngwang commented on #93
@cseickel: I will expect that I don't need to provide fields I don't want to customize. But without the `{ 'name' }` option, the folder name did not get shown.

[2022-01-23 16:57] cseickel commented on #93
That wouldn't really make sense because it's not just about the configuration, it's just as much about which components you are using and in what order. I can't assume that you want the built-in `name` component if you didn't specify it. What if you created a custom name component and wanted to use that instead? What if you want other components in between icon and name? The only way this makes se

[2022-01-23 17:03] nyngwang commented on #93
@cseickel: Okay, then I hope the length of code needed to just change the icons can be shortened in version 2.x!

[2022-01-23 18:49] levouh commented on #31
@cseickel wanted to double check with you, but right now there isn't a way to "get the previous state from a tree", right?

Specifically consider the case where I reveal a file and close the tree. The tree itself has a state, but so does the cursor. If I then `action=focus` the tree again, the current action only makes an attempt to open and then focus the tree window. The cursor is left alone at

[2022-01-23 19:09] cseickel commented on #31
I always use Reveal so I never noticed that the cursor location is lost. That is not the intended behavior.

Something should be done to store that piece of state and restore when creating a new window. I think that event could be subscribed in the renderer using Nui methods to record the cursor position on WinLeave.

I would say this is a separate issue, I'd call it a bug on the Show/Focus behavi

[2022-01-23 19:45] cseickel opened #94 "Show and Focus actions should maintain the cursor location"
@cseickel wanted to double check with you, but right now there isn't a way to "get the previous state from a tree", right?

Specifically consider the case where I reveal a file and close the tree. The tree itself has a state, but so does the cursor. If I then `action=focus` the tree again, the current action only makes an attempt to open and then focus the tree window. The cursor is left alone at

[2022-01-23 19:54] levouh commented on #94
Are you working on this @cseickel? Wanted to get this done before #31 as it makes some testing there easier/more exhaustive.

[2022-01-23 20:13] cseickel commented on #94
If you do want to deal with it now, I think the thing to do is to actually record the path that is currently focused as opposed to the line, and then restore that value here as the `previously_focused` node: https://github.com/nvim-neo-tree/neo-tree.nvim/blob/2aee0b3c8391a79d2582059dfefcf0599c69660f/lua/neo-tree/sources/filesystem/init.lua#L139

[2022-01-23 20:23] levouh commented on #94
OK, I will take a stab at it using the actual node in the tree versus a cursor position.

[2022-01-25 03:07] cseickel commented on #91
This changed was merged to **main**, the filetype of popups is now `neo-tree-popup`. The issue should automatically close when it is released to **v1.x**.

[2022-01-25 22:30] #78 closed

[2022-01-25 22:30] #91 closed

[2022-01-26 16:50] Rodrigodd opened #97 "case sensitivity causes false 'File not in cwd' in Windows"
This is similar neovim/nvim-lspconfig#1168. See also neovim/neovim#16331.

Windows paths are not case sensitive in most cases, but this is not a problem normally. But lsp servers report paths with the drive letter normalized to lower case, but windows paths usually have upper case drive letters. This means that when cwd is, for example, `C:\my_project\`, sometimes I have a file `c:\my_project\a_fi

[2022-01-26 17:19] cseickel commented on #97
If you could open a PR that would be great. I don't use nvim natively on windows myself so I can't properly test it.

One question though: would it be better to just lowercase the whole path if it is on Windows since the whole path is actually case insensitive? The `neo-tree.utils` module does have a `is_windows` property to determine if it is running on windows.

[2022-01-26 20:02] Rodrigodd commented on #97
Ok, so I will try to organize the code a little better, and open a PR.

There is a way to enable case sensitivity in windows, so I avoided lowercasing the entire path.

[2022-01-27 13:13] cseickel opened #99 "DirChanged event does not refresh the tree"
It looks like the event is captured, because a manual refresh does show the new cwd. It is not automatically refreshing as it should though.

[2022-01-28 00:20] nyngwang commented on #91
Problem resolved. Thanks! :)

[2022-01-28 00:27] nyngwang opened #100 "UX enhancement: bootstrap speed kinda slow"
As title. I'm not sure whether this is possible to do but I think the current startup speed after triggering `NeoTreeFloatToggle` is kinda slow. It takes about 0.7s to show all the directories in the filetree.

[2022-01-28 00:33] nyngwang commented on #99
(might not related to this)

IIRC: there is some bug on neovim itself that the event-triggering-system/event-loop has some bug/design-flaw such that some events are not properly triggered. Ref.: https://github.com/neovim/neovim/issues/12587

[2022-01-28 00:51] nyngwang commented on #86
A good reason for me to switch to `main` now :)

[2022-01-28 01:14] cseickel commented on #99
Thanks for pointing that out. I _think_ this one is one is just my mistake, but we'll see soon enough...

[2022-01-28 02:40] cseickel commented on #99
Yup, it was totally my fault. As usual, `follow_current_file` got in the way.

[2022-01-28 02:50] cseickel commented on #100
There's a lot of possibilities here. Can you tell me:

1. What branch are you on? When was it last updated?
2. Is it any different if you switch to **main**?
3. How many folders/files in the directory you are showing, does it matter if it is a small one?
4. Is it a git repo? If so, is it faster when you disable gits status with `enable_git_status=false`?
5. Do you have `filesystem.filters.respect_

[2022-01-28 03:19] #97 closed

[2022-01-28 03:19] #60 closed

[2022-01-28 03:19] #99 closed

[2022-01-28 03:26] cseickel commented on #92
I think all this is documented now. Bear in mind that I am considering the vim help file to be the primary documentation. Feel free to add to the [Wiki](https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Tips) if you want to point things out for others.

[2022-01-28 03:26] #92 closed

[2022-01-28 03:30] cseickel commented on #86
I put the wrong number in the commit. For reference, this was closed in [Release v1.23 ](https://github.com/nvim-neo-tree/neo-tree.nvim/releases/tag/v1.23)  in commit 751ee6b4e840d36915ab5ac7234e848aa45db1ac.

[2022-01-28 03:30] #86 closed

[2022-01-28 14:18] doongjohn opened #101 "local signcolumn setting"
I'm using `vim.o.signcolumn = 'yes:3'` for my neovim config.\
I want to set `signcolumn=auto` only for the neo-tree window.

I've tried `event_handlers`
[code]
but this will set  `signcolumn=auto` for all windows 😢

[2022-01-28 15:56] cseickel commented on #101
Yes, the vim_win_enter is just using the vim autocmd event directly and fires for all events once subscribed. You could use that and add a check for the filetype, or do the same in a generic vim BufEnter event. Either way the key is to check the filetype first:

[code]

[2022-01-29 05:24] doongjohn commented on #101
Thanks this worked perfectly!
[code]

[2022-01-29 05:36] levouh opened #102 "Invalid window ID + focus file issues"
I added an extra bit to the `log.error` output to get the `id` that caused the error (seen below inside of the `[...]` charcters) in the result of the `debounce` call, which gets printed out as follows:

[code]

and each time that I open the tree, I get the invalid window ID number increases by one. Along with this, focusing the current file (`,ef` for me) can be seen working for a split second, b

[2022-01-29 07:28] tristone13th commented on #102
I'm facing the same problem since the last update.

[2022-01-29 08:25] tristone13th opened #103 "Diagnostics icon not showing in the "filesystem""
Here's my config:
[code]

[2022-01-29 15:01] #102 closed

[2022-01-29 15:01] #103 closed

[2022-01-29 15:01] cseickel commented on #103
I don't believe I didn't notice this myself, thanks for reporting!

[2022-01-29 15:05] cseickel commented on #102
It turns out the call to state.position.save was failing, which seems to indicate the window was being lost in between the is_valid check and trying to get the cursor position, which is surprising to me.

Perhaps the larger issue that I still need to figure out is: navigate fires twice in a row for one action, and it's only the second call that has the error. I need to find and squash that redunda

[2022-01-29 15:07] cseickel commented on #101
Glad to hear it worked out! I'm going to convert this to a discussion for others to find.

[2022-01-29 15:21] cseickel commented on #23
Status update: I released part of this solution, which is that Neo-tree now hijacks netrw automatically. It will open in whatever position you have specified in your config when you open a directory in nvim. If anyone actually wants to use netrw as an option, let me know and I'll put in a flag to disable this functionality.

What we don't have yet is the new "in-place" position option, we are stil

[2022-01-29 15:36] tristone13th commented on #103
Thanks for your effort,  but it seems that this problem didn't go away when I updated to the new release. Here is the screenshot, you can see that the file name of plug_config.py is blue and has some diagnostics (H) but the icon just didn't show up, any advice you can give me?
![2022-01-29 23-34-29 的屏幕截图](https://user-images.githubusercontent.com/17382962/151666969-5cba9ee9-f0b1-4ce4-b99d-9831349b

[2022-01-29 15:44] cseickel commented on #103
The letters are the fallback if you have not defined any symbols in your vim config. Checkout `:h neo-tree-diagnostics` for an example on how to configure that.

[2022-01-29 16:37] tristone13th commented on #103
I get it, many thanks!

[2022-01-29 21:20] levouh commented on #77
I'll be working on #61 this weekend, and with the new source design it should be pretty trivial. Right now that one focuses on unit tests, however you can do functional tests with `plenary`'s version of `busted` as well.

[2022-01-29 21:21] levouh commented on #102
It seems that the reveal file action is still broken for me (note the first time I open it in the above screen cast how it does not focus the current file). Should I open up another issue for that @cseickel or is:

noting that is already being looked at?

[2022-01-29 21:27] levouh opened #105 "[BUG] Reveal file does not work"
See below:

https://user-images.githubusercontent.com/31262046/151678010-26a1cb1a-166d-471f-bf04-9268fdefabb6.mp4

where the steps to reproduce would be:

1. Open a file
2. Use `:NeoTreeReveal`
3. Observe that the correct file is not revealed, and instead the tree is simply shrunk

This was introduced via `4787b637895fccfedb813c9bf8926453f187c2e8`, as the same action works (meaning the tree proper

[2022-01-29 21:27] levouh commented on #102
I created #105 for the secondary issue here, feel free to close it if need be.

[2022-01-29 21:35] cseickel commented on #105
I'm not seeing the same issue. Are you currently on the latest release, which is 517cf66523139071df05c45c221b8e186343aeb2?

Can you paste your config here?

[2022-01-29 21:42] levouh commented on #105
I am using `59d22bbc767a16ebce4d706e9b5e4be350be9278`, and it happens for me when using a minimal configuration like:

[code]

and then running `nvim --noplugin -u /tmp/neo-tree.lua` (assuming the file above is at the path mentioned here). Open a path in the same directory as where you ran `nvim`, and run `:NeoTreeReveal`.

[2022-01-29 22:37] cseickel commented on #105
Thanks, I see it now. I am pretty sure the first invocation works but the second invocation is messing it up by not having the correct folders open.

[2022-01-29 23:38] cseickel commented on #105
@levouh Can you try the latest in **main** and let me know if it works correctly?

[2022-02-01 15:54] danilshvalov commented on #44
I've added this feature in #107.

[2022-02-01 17:25] meanindra opened #108 "Error in neo-tree.utils.debounce"
![Screenshot from 2022-02-01 22-45-32](https://user-images.githubusercontent.com/36324543/152018500-e7147c3c-a766-4d5a-80e7-1cf0b5757b15.png)
Every time I am getting this error when I use any command example `:NeoTreeReveal`

[2022-02-01 17:34] cseickel commented on #108
My best guess is that either there is a file or directory with newlines in the name, or you have created a custom component that uses newlines. Can you check on that? Maybe try to `cd` into another directory and run `NeoTreeShow` from there?

If it is not a filename issue, can you post your config so I can see if it is a specific mix of options that cause it?

[2022-02-01 17:46] meanindra commented on #108
It is not wrking. same error
![image](https://user-images.githubusercontent.com/36324543/152022060-20064f5a-8c7c-4c80-a869-511bb20f105e.png)

https://gist.github.com/meanindra/bc7c58f09c22e3557c930d65fd1fac63

[2022-02-01 18:52] nyngwang opened #109 "Sometimes the `follow_current_file` option doesn't work"
As title. I don't know how to reproduce this. But I have experienced this bug many times recently. When this happen the cursor will always stay at the top/root. To resolve this, I will have to close `nvim` process and run it again.

---

### debug info.

[code]

### NVIM

[code]

[2022-02-02 02:33] cseickel commented on #108
@meanindra, can you try out main and tell me if it fixes your error?

[2022-02-02 02:41] cseickel commented on #109
I'll keep my eye out for this. Let me know if you notice any patterns that can help me pinpoint the issue.

[2022-02-02 03:08] nyngwang commented on #109
@cseickel: I think this happened when I change the current working directory.

[2022-02-02 03:40] cseickel commented on #109
If you have `bind_to_cwd = true` and `follow_current_file = true` AND you change the cwd on every BufferEnter, that's definitely a recipe for unpredictable behavior!

I think it should be able to handle it though. At least it worked with vim-rooter last I checked. Can you link to your plugin so I can test it out?

[2022-02-02 04:52] meanindra commented on #108
Previous error is fixed but new new error showing `Invalid mapping for bd : nil`

![image](https://user-images.githubusercontent.com/36324543/152094344-ce1a068d-4968-4684-b65e-c38459aa6beb.png)

[2022-02-02 09:44] nyngwang commented on #109
https://github.com/nyngwang/NeoRoot.lua

It change the cwd for each file without any settings.

[2022-02-02 12:20] cseickel commented on #108
I noticed the `bd` mapping in your config, it's because you have mapped `bd` to the `buffer_delete` command in the filesystem, but that command is not supported in that source. It is a command that is unique to the `buffers` source. You just need to delete that line.

If you are referring to the diagnostic error, it is showing as a red E next to the file in the tree. See `:h neo-tree-diagnostics`

[2022-02-02 17:54] wookayin opened #110 "Cannot perform search/filter due to errors on "is_active" function"
While performing search/filter (`/`) on a neo-tree, I see the following error message:

[code]

neovim version (NVIM v0.7.0-dev+963-g082ff2190, nightly installed few days ago)
neotre version: tag/v1.25

Any ideas why it's happening?

[2022-02-02 18:08] wookayin opened #111 "The cursor on a NeoTree window resets after expanding a directory"
When pressing `<CR>` to expand a directory or folder, the cursor should remain at the same location while expanding the subdirectory.

However, the currrent cursor moves to a weird random location such as some previously open files or even to the very first line of the window. It is not quite easy to reproduce but I do see this quite often.

### Demo

In the following video, I never jumped the cur

[2022-02-02 18:11] wookayin opened #112 "Trailing slashes on directories"
I would like to see trailing slashes on the directories if configured (I think this should be the default behavior), like netrw, NERDTree, nvim-tree.lua, etc.

[2022-02-02 19:36] cseickel commented on #110
That is a new one to me, but I am a little behind on updates so maybe there is a new breaking change upstream. I'll update tonight and see if it breaks.

[2022-02-02 19:40] cseickel commented on #111
Do you have `follow_current_file` turned on? If so, can you try turning it off and telling me if it changes the behavior? I noticed you have a scrollbar plugin, can you try disabling that and tell me if it has an effect?

If you have a dotfiles repo or can post your full config, it may offer clues.

[2022-02-02 19:41] cseickel commented on #112
You can do this by adding or changing components in your directory renderer. I'll post an example later.

[2022-02-02 20:03] nyngwang opened #114 "Moving files/folders are inconvenient currently"
For some reason, I have to disable `<Up>`,`<Down>`,`<Left>`,`<Right>` in insert mode. So when I want to rename a file for moving it to another folder, I will have to retyping it's filename:

<img src="https://user-images.githubusercontent.com/24765272/152228253-e80524d6-ea48-4de8-8e40-3be44c6f19fa.png" width="700">

Is it possible to rename the file in the cmdline (using `: ...`) and with the full

[2022-02-02 23:51] cseickel commented on #112
Here is how you can add a trailing slash right now:

[code]

I'm also going to include some simpler configuration options in the future to accomplish the same thing with less code.

[2022-02-02 23:59] cseickel commented on #114
Not right now. If more people were interested I might add the option.

I have to ask, why not fix your problem with using arrow keys in insert mode? That's a pretty basic feature to just live without.

[2022-02-03 00:08] nyngwang commented on #114
@cseickel The input method I'm using needs to facilitate these four arrow keys to choose a word from candidates. Inside insert mode, these arrows **move** the insert point which makes typing my mother language in (Neo)Vim impossible. It's OK that you don't want to implement this, but then what I can tell is this indeed an important feature for who need to typing non-english in (Neo)Vim.

[2022-02-03 00:13] nyngwang commented on #114
As for other idea: is it possible to simulate `y`(yank) or `d`(delete) and paste the file/folder one needs to move?

[2022-02-03 00:26] cseickel commented on #110
It's working fine for me on the latest neovim from git:
[code]

do you have `fd` or `find` installed? Can you post your neo-tree config?

[2022-02-03 00:42] wookayin commented on #111
I was using the default setup with no custom config (just `.setup { }` call with empty table), so I think `follow_current_file` is turned on by default. I can confirm that turning that off makes the behavior OK (i.e., no bug)

I also turned off the scrollbar plugin and it seems it works okay also. I'm not 100% confident because the bug is not always reproducible, but I feel like this didn't happen

[2022-02-03 00:44] wookayin commented on #110
I was using the empty config:

[code]

I have fd, find, ripgrep installed. Probably it could be a conflict with other plugins..

[2022-02-03 00:52] cseickel commented on #114
If it might affect a large number of people then that makes it a higher priority.

What do mean by simulating yank/delete?

[2022-02-03 00:55] cseickel commented on #111
It's likely the interaction between `follow_current_file` and the scrollbar. This is why I stopped using scrollbars, there were too many conflicts with other plugins.

I'd like to make it work though. Which scrollbar are you using?

[2022-02-03 01:05] wookayin commented on #111
I am using https://github.com/dstein64/nvim-scrollview.

[2022-02-03 12:34] cseickel opened #118 "File Nesting a la JetBrains"
### Discussed in https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/117

<div type='discussions-op-text'>

<sup>Originally posted by **bennypowers** February  3, 2022</sup>
Jetbrains (webstorm, etc) has a feature where file entries in the tree can collapse into one another. For example, a user can configure the tree to show `*.ts` files as a subtree, with siblings matching `$1.d.ts` `$1.js

[2022-02-03 16:35] nyngwang commented on #112
Waiting for this. Thanks a lot!

[2022-02-03 16:39] nyngwang commented on #114
Okay.

I imagine one can `yy` on the file he/she wants to copy. So just move the cursor to the correct position and then `p`. Same argument for `dd`.

[2022-02-03 17:38] #108 closed

[2022-02-03 20:05] wookayin commented on #85
@nyngwang Have you tried `set splitbelow`, `set splitright` option?

[2022-02-03 20:52] wookayin opened #121 "Hijacking netrw mode: should not limited to fixed vsplit layout"
This is similar to https://github.com/kyazdani42/nvim-tree.lua/issues/926.

When NeoTree is working as a standalone mode or hijacking netrw, it should work as if it were a normal directory buffer. However, it only works as a vertical splitted window on the left.

To Reproduce: `run :split .`

Expected behavior: This should open the directory buffer in a non-surprising way: open the directory windo

[2022-02-03 21:03] cseickel commented on #121
This is actually a duplicate of #23 , which is still in progress. When it is finished it will have the functionality you are looking for.

If you'd like to be an early tester, I believe this is fully working in the `netrw-style` branch. I'm holding it up because I want to get better testing in place first (#77), along with the enhanced command structure in #31.

The only downside to that branch is

[2022-02-03 22:40] nyngwang commented on #85
OK then I've wasted some time on these builtin functions...

[2022-02-04 00:50] cseickel commented on #109
I don't think it has anything to do with the plugin, it seems like that is a window local cwd which neo-tree does not respond to. I would be the root problem is also the cause of #111 ... I'll review this part of the code and look for issues.

[2022-02-04 09:45] nyngwang commented on #109
@cseickel Definitely worth doing so, if this stop happening in I will also update to this thread~

[2022-02-05 00:33] nyngwang commented on #85
@wookayin I think the problem of this one is that some plugins will depend on it (while this means a bad design tho.)

[2022-02-05 01:30] wookayin commented on #85
It is a practical config that many users are often using. So if this breaks the plugin, that's a problem of the plugin. Managing windows can be control explicitly by the plugin, so you should have no problem with the option.

[2022-02-05 01:37] nyngwang commented on #85
@wookayin: thanks for the confirmation. As a gift: if you need a layout preserving buffer-killer try this plugin: https://github.com/nyngwang/NeoNoName.lua, which I haven't released on reddit, while I feel that it's extremely stable now.

[2022-02-05 01:44] cseickel commented on #111
@wookayin I just pushed some refactored code to **main** that I think will fix this problem. I was only able to make this bug happen for me once so it's hard for me to confirm, but it does fix other bugs that are related to race debouncing refreshes.

[2022-02-05 01:45] cseickel commented on #109
@nyngwang The latest commit on **main** might fix this issue. Can you try it out and let me know if you think it is fixed?

[2022-02-05 01:54] nyngwang commented on #111
@cseickel: Thanks for the fix. Since I encounter this more frequently(why?) if this still happens, I will report it here.

[2022-02-05 01:55] nyngwang commented on #109
Absolutely yes :) If this might still happen I will tag you.

[2022-02-05 02:41] cseickel commented on #110
Is this still happening for you, or have you found the cause? If it still happens, I think the next step is to try it with a minimal config to see if it is an interaction with another plugin.

[2022-02-05 02:45] cseickel commented on #100
@nyngwang I'm going to close this as it seems plenty fast enough to me. It's also possible that some of the recent bug fixes have sped it up.

[2022-02-05 12:53] nyngwang commented on #100
@cseickel: thanks, this is not a serious problem actually.

[2022-02-05 16:25] BerkeleyTrue opened #123 "feature request: disable or configure escape to close floating window"
I find myself accidentally closing the floating window often and I find it pretty annoying. I'd like to be able to turn of this feature and just use `:q` or autclosing on open instead.

P.S. Nice work! I've just switched from Defx and what a night and day difference it makes. Not only being way more configurable than Defx, but much easier to reason about.

[2022-02-05 18:50] cseickel commented on #123
Sure, I can make this an option. I'll probably do it this weekend.

[2022-02-05 20:20] cseickel commented on #23
This is in **main** right now and I think it is done. I changed the position name from "in-place" to "split". If you want to use netrw style all the time, set `"split"` as your position:

[code]

If you only want to use it as "split" style sometimes, use the new  "InSplit" commands:
[code]

[2022-02-05 20:58] cseickel commented on #123
This is in **main** and will probably be relased to **v1.x** in a day or two. I also added a built-in "close_window" command:

[code]

[2022-02-05 23:56] man9ourah opened #125 "Configure Lsp and Git getters"
Can the user provide functions to return the lsp and git information? i.e. I want to override utils.get_diagnostic_counts to use CoC. It would be super helpful if the setup function can take functions to obtain the git and Lsp info .. complying with whatever api currently used by builtin functions.

[2022-02-06 03:01] cseickel commented on #125
Yes, you can do that. The way it works now is that it reacts to nvim's DiagnosticChanged event. Is there a similar event for CoC?

The general idea is to call:
[code]
... whenever the diagnostic counts change. Here is the built-in function that creates the lookup from LSP Disagnostics:
https://github.com/nvim-neo-tree/neo-tree.nvim/blob/caa64cf0e43cf141bc6d34ff6216c1ab2611d75c/lua/neo-tree/utils.l

[2022-02-06 03:50] man9ourah commented on #125
Thanks for your response.

Yes, Coc has ‘User CocDiagnosticChange’. So I should call ‘ require("neo-tree.sources.manager").diagnostics_changed’ with a table of diagnostics on that event, right?

How about the git information?

[2022-02-06 04:18] cseickel commented on #125
Actually, there might be a cleaner way to replace the built-in diagnostics. You can replace the built in event handler AFTER you call the setup() function like this:

[code]
Doing it that way, you won't need to call `diagnostics_changed` manually.

For the git status data, there is no git event so I just pull that data before every render using the neo-tree `"before_render"` event. Here is how to

[2022-02-06 04:26] man9ourah commented on #125
Thank you so much for the help. Indeed this looks like a cleaner way to override those functionality. Also, thanks for this plugin, I appreciate the extra efforts making it so customizable. Closing this issue.

[2022-02-06 04:26] #125 closed

[2022-02-06 12:54] cseickel commented on #125
You're very welcome! One other thing you may want to consider is that you don't have to use the built-in components to display this either. if you want to build the lookups differently or display different info, you can create a custum component. the wiki has some examples:
https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Recipes#components

and of course:
[code]

Let me know if you run into an

[2022-02-06 13:29] cseickel opened #128 "Restore tree state in session restore"
### Discussed in https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/126

<div type='discussions-op-text'>

<sup>Originally posted by **bennypowers** February  6, 2022</sup>
Hello!

I'm using neo-tree with `auto-session` and `bufferline.nvim`, and notice the following:

- WHEN neo-tree is open and I quit vim with buffers open in session via `quitall`
- THEN when I reopen the session from th

[2022-02-06 13:37] cseickel commented on #123
Sorry, I just realized I forgot to push that one! It is in main **now**.

[2022-02-06 13:46] cseickel commented on #112
I slipped this into 3e1af7a590cf1ac71edffb442618aa890f1cb29e, which is in **main** now and will probably be released today. You can now just add `trailing_slash = true` as a config option on the `name` component.

[code]

[2022-02-06 15:40] nyngwang commented on #112
@cseickel Yes!

[2022-02-06 16:02] cseickel opened #129 "Add fuzzy finder behavior to filter functionality"
This is probably related to #116. I find myself naturally wanting to use Up/Down keys when filtering the tree to select files in the search results, and I am annoyed when it doesn't do anything. I am going to change that by adding a "fuzzy finder mode" option which would:

1. Add mappings to the filter input so that up/down (and `C-j`/`C-k` `C-p`/`C-n`) move the tree's focused node up and down.
2.

[2022-02-06 16:04] nyngwang commented on #123
I like this one!

[2022-02-06 16:06] nyngwang commented on #123
@cseickel: btw is it possible to use `q` for __both__ clearing the filter and closing the window? I just feel like using two different keys to do the same thing: leaving, is not necessary.

[2022-02-06 16:19] cseickel commented on #123
You can also replace the `close_window` command with one that takes both actions:

[code]

[2022-02-06 17:40] nyngwang commented on #129
FYI: My current way of searching the target quickly is via the filter and the vim-builtin `/` to search exactly what I want.

[2022-02-06 18:39] wookayin commented on #112
@cseickel Thanks for implementing this. Could we use different highlight group for the trailing slashes (e.g., DirectoryIcon rather than DirectoryName) when using such built-in options? Although a very complex renderer would do the job :)

[2022-02-06 18:51] wookayin opened #130 "Feature request: customizable tree layout"
![image](https://user-images.githubusercontent.com/1009873/152696425-e98cd7f6-04da-42bd-8b59-9166c0c2a6e5.png)

**Left**: NERDTree,  **Mid**: nvim-tree.lua,   **Right**: NeoTree

It would be great if neotree can support customization tree layout. For example, I personally prefer the style of nvim-tree.lua (or coc-explorer) where a fancy unicode characters is used to denote the expanded tree. Compa

[2022-02-06 18:54] wookayin commented on #130
In my opinion, adding some configurable option/feature to choose which tree drawing style to be used would be great, but even if an user chooses the current default style the misaligned indentation would need to be fixed.

[2022-02-06 19:06] cseickel commented on #129
I'm hoping that the new fuzzy finder mode I am about to commit will cut out the second step of using the built in `/` after using the Neo-tree filter. What I am unsure about is whether most people would prefer this be the new default or if some people liked the way it worked before, where it just filtered and then stayed filtered. My current thinking is that they can use the normal `filter` comman

[2022-02-06 19:18] cseickel commented on #130
For the folder icons, that is configurable by setting the `folder_open` and `folder_closed` properties on the icon component, see: https://github.com/nvim-neo-tree/neo-tree.nvim/blob/caa64cf0e43cf141bc6d34ff6216c1ab2611d75c/lua/neo-tree/defaults.lua#L140

The problem with the indent alignment is that I pad the window with 1 space because I don't show indent lines on the tree and to me it looks bet

[2022-02-06 19:22] cseickel commented on #112
@wookayin I think for that purpose, the original `trailing_slash` example is actually the ideal solution.

[2022-02-06 20:02] cseickel commented on #129
This has been added to **main**. I decided to add it as a new command called `fuzzy_finder`, but make that the default mapping for the `/` key. hopefully this strikes the right balance between having a better default while not annoying existing users that may have liked the old functionality. At the very least, it's easy to switch back for people that don't like it.

[2022-02-07 04:02] #23 closed

[2022-02-07 04:02] #44 closed

[2022-02-07 04:02] #123 closed

[2022-02-07 04:02] #129 closed

[2022-02-07 04:10] cseickel commented on #130
This should be handled with the changes in #131  which are now in the latest release. You should be able to get what you want with this config:

[code]

If you have the `icon` component configured in your renderers as well, those settings will merge and take precedence over the default_component_configs where they conflict.

The indent component is brand new.

[2022-02-07 04:10] #130 closed

[2022-02-07 04:12] cseickel commented on #121
Completed by #124

[2022-02-07 04:37] BerkeleyTrue commented on #123
@cseickel you are awesome! Thanks a lot!

[2022-02-07 04:58] wookayin commented on #121
Thanks for implementing #124. `:NeoTreeShowInSplit` works like `edit .`, but as in the first message of the thread `vsplit .`, `split .` would call `:NeoTreeShow` rather than `:NeoTreeShowInSplit`. I guess this might be a simple follow-up fix for you?

[2022-02-07 05:11] BerkeleyTrue opened #132 "breaking change at 0c5081a (support netrw)"
I have a custom function that will toggle a folder open using space bar: When it opens a folder, it enters the folder `feedkes 'j'`. If it's on a file or on an open folder, it closes that folder.

(warning: fennel ahead)
[code]

Before commit 0c5081a, this function worked fine.

~~After that commit, I keep getting tree (`tree = state:tree()`) as undefined, which breaks on the next line where I get

[2022-02-07 12:35] cseickel commented on #121
I'm re-opening the issue because I mis-understood it the first time. It would be nice to simply react appropriately to `edit .`, `split .` and `vsplit .`. It almost works if you specify `"split"` as your default position, but it always closes the existing window which it shouldn't. I'll make this work correctly.

In the meantime, you can get the functionality you want with:
[code]
and
[code]

[2022-02-07 12:56] cseickel commented on #132
First off, I apologize for the breaking change. I had not thought about this as a function that people would use but I see why it's needed for custom functions. In the future, I'll consider **any** exported function signatures the public api and create a new major version if I need to change them.

I don't really see a better way to have handled this other than rewriting the needed functionality o

[2022-02-07 16:12] cseickel commented on #132
Yeah, maybe you're right about that. Maybe just prefixing private methods with an underscore is a clear way of denoting it as private. I'll give this a little more thought and post a policy on the README.

[2022-02-07 17:12] wookayin commented on #130
Thanks, the new feature works very well for me.

One minor issue: Has the default_icon changed? It was `*` previously, and now it is just a blank, which confuses indent guide again.

[2022-02-07 17:14] wookayin commented on #111
Thanks for implementing caa64cf0e4. I am in the v1.29 branch now, and today I've run into this again a few times. Looks like the bug has been fully resolved -- just letting you know. I will take some time if allowed to investigate this issue also.

[2022-02-07 17:22] cseickel commented on #130
I moved the default settings from the individual renderers to the `global_component_config` section, so you may have lost it in the transition. If you use the config I posted above then it should still apply as "*". Of course, even without that the true default is a space `" "` anyhow, so the spacing should be preserved.

I never actually saw the default icon getting used on my computer, `web-devi

[2022-02-07 17:24] cseickel commented on #111
I'm, a little confused, are you saying this bug IS or is NOT fixed?

[2022-02-07 17:26] wookayin commented on #111
@cseickel My bad, sorry, I meant "hasn't been fully resolved".

[2022-02-07 17:39] cseickel commented on #111
👍 Got it. I'll re-open the issue.

One thing that I suspected as being the is the vim autocmd events used to detect changes to files. One thing to try is to set `use_libuv_file_watcher = true` in your `filesystem` config.

[2022-02-07 19:53] wookayin commented on #130
Ok so this seems to be a typo. You probably have meant

[code]

in the config (README, docs, etc.)

[2022-02-07 20:01] wookayin commented on #111
Can you please re-open the issue?  FYI I have `follow_current_file = false` and `filesystem.use_libuv_file_watcher = true` and the cursor movement is still flaky.

[2022-02-07 20:16] cseickel commented on #130
🤦‍♂️ Good catch, thanks for finding that!

[2022-02-07 20:18] cseickel commented on #111
I think this may be related to certain options or plugins you have that I don't. Can you provide a link to your config or a minimal config that reproduces the issue?

[2022-02-08 01:36] cseickel commented on #121
This wasn't so difficult, it works now in **main**, it will be released soon. If your `filesystem.window.position = "split"`, then `edit .`, `vsplit .`, and `split .` all work as expected. If your position is anything else, all those commands just send the navigation aspect to the sidebar.

[2022-02-08 01:56] cseickel commented on #128
@bennypowers I am trying out `auto-session` and I really like it. Unfortunately I can get this or my old session manager to restore the tree windows at all, not even as empty buffers. It is just completely committed from the session restore.

Is it just me or does that happen to you as well with the latest updates?

[2022-02-08 02:01] #132 closed

[2022-02-08 02:41] wookayin commented on #121
I gave it a try: when I do `vsplit .`, it make a new vertical split AND then neotree opens on the left. `split` would make a new horizontal split AND neotree opens on the left. Why would be I getting a different behavior? Does it require some config?

[2022-02-08 02:49] cseickel commented on #121
Yes, if you want this behavior you need to set your position to "split":

[code]

Does it work after you do that? Currently, there is no way to combine this behavior with the "left" sidebar because sidebar users probably would not want that. Let me know if you are interested in working in split mode only when hijacking netrw, it would not be difficult to add a flag to enable it.

[2022-02-08 03:13] nyngwang opened #133 "Conflict with plugin `romgrk/nvim-treesitter-context`: E5601: `Cannot close window, only float window would ...`"
![image](https://user-images.githubusercontent.com/24765272/152911174-6cd9b7f3-81d8-4c3a-bfba-5ecc17c212ab.png)

[2022-02-08 03:15] wookayin commented on #121
That behavior sounds very weird and strange. NERDTree, for example, handles the both use cases seamlessly, so I believe there must be a good way. Let me later study how that can be achieved. Anyway thank you so much for implementing the new feature.

[2022-02-08 03:48] nyngwang commented on #133
I rollback to on master cbe2121 then the problem disappear.

[2022-02-08 03:49] cseickel commented on #121
None of this is difficult to do, it's just that everyone has a different idea about how they expect it to behave and I'm trying to find a clean way of configuring this to accommodate everyone's expectations at once.

Not quite. The sidebar functionality is more complicated than just being a split that is a certain size. The sidebar needs to understand that is meant to be a sidebar and then take ex

[2022-02-08 03:56] cseickel commented on #133
@nyngwang Can you try the latest in **main** and tell me if it fixes that error?

[2022-02-08 04:16] wookayin commented on #121
Thanks for the detailed context and information, and yes I understand this might be more complicated than it may seem.

The example (potential) configuration sounds too much and overly complicated. We already have too many open- or show-like commands, as pointed #31. I do not have a strong suggestion immediately about what the ideal set of commands would look like, but that was just my personal fi

[2022-02-08 04:44] nyngwang commented on #133
@cseickel  It did :) Thank you!

[2022-02-08 05:41] max107 commented on #23
<img width="1515" alt="image" src="https://user-images.githubusercontent.com/862272/152925404-3028af72-36da-405b-82a9-8ca857a046ee.png">

[2022-02-08 10:31] nyngwang commented on #130
While it works, I would like to know why `with_markers = true,` is needed? It took me some time to realize that I have to also set this option to `true` to show the markers.

[2022-02-08 12:34] cseickel commented on #130
@nyngwang Indent makers are just one of the possible features of indent. The other configurations exposed here are how many spaces to indent and how much padding to add.

Not everyone likes have indent markers so the default is false.

[2022-02-08 12:38] cseickel commented on #121
I absolutely agree. While we have a PR based workflow, I rarely use it for my own contributions. I think it would be a good idea to  slow down on pushing new enhancements and leave more time for discussion. I'll try using PRs and see if I get any engagement there.

[2022-02-08 13:00] max107 commented on #23
@cseickel i updated neo-tree to latest commit and problem still exists

[2022-02-08 13:05] cseickel commented on #133
@nyngwang I see the issue with being unable to close the tree or neovim if it is the last buffer, I'm working on that.

I don't understand that one, can you provide more details on what <C-f> should do and what is does now?

That sounds like a new feature request.

[2022-02-08 13:14] nyngwang commented on #133
You can safely ignore these two. They're just some consequences caused by the OP.

[2022-02-08 17:35] cseickel commented on #133
@nyngwang I've cleaned this up in the latest commit on main, let me know if it works better now.

[2022-02-08 17:39] cseickel commented on #121
Just to wrap this up so I can close the bugs, I added an undocumented experimental option to configure the netrw hijack bahavior. It's mostly as I described above but I put it under `filesystem` section instead:

[code]

[2022-02-08 19:59] bennypowers opened #134 "File Preview"
I would love to have file preview while the cursor is on a file, in both the sidebar and float windows

[2022-02-08 23:28] nyngwang commented on #134
I would still recommend [fzf-lua](https://github.com/ibhagwan/fzf-lua) first. But it could be a good idea to implement it inside neo-tree itself.

[2022-02-08 23:32] cseickel commented on #23
@max107 I think I got it this time.

[2022-02-08 23:35] nyngwang commented on #133
<img src="" width="500">

![Uploading image.png…]()

[2022-02-08 23:46] nyngwang commented on #130
Got it!

[2022-02-08 23:51] nyngwang commented on #111
@cseickel  I experience this too. Sometimes when I open the (floating) neo-tree, it doesn't focus the cursor on the current buffer/file. It was moved to the top. And I have a plugin that changes the `pwd` whenever I move my cursor between windows, but the neo-tree doesn't sync-up too, even after I run the `...Toggle` twice.

[2022-02-08 23:58] nyngwang commented on #111
I think this one should have a higher priority. Since it's impossible to re-enable it inside the same session, I will have to restart `nvim` (so all layout are lost) when it happen. This is **really** annoying...

[2022-02-09 12:21] grem11n opened #135 "Neo-tree hijacks netrw, which causes cascading issues for other plugins"
First of all, thank you for a great project!

### Description

Now, here is the issue. It looks like `neo-tree` hijacks `netrw`. At least, I found [this function](https://github.com/nvim-neo-tree/neo-tree.nvim/blob/1bfd7d171934e8dd248b0d7850d5bada23372d3f/lua/neo-tree.lua#L84), which has a related name. Or `neo-tree` conflicts with `netrw` in some other way. I'm not very good in Lua and I cannot t

[2022-02-09 12:24] cseickel commented on #133
@nyngwang It is true that neovim will throw that error if you try to close the last non-floating window in a way that would leave only floating windows open. That's not really an issue as long as you can close the floating Neo-tree window without issue and you can close a normal Neo-tree window when there are no floats open.

I think I have fixed all problems with the hijack netrw functionality no

[2022-02-09 12:27] cseickel commented on #135
I was actually waiting to see if anyone requested this to be turned off, I wasn't sure when I added it if there would be anyone that wants to use Neo-tree and netrw at the same time. Now I know!

The plumbing was just added yesterday to make this an optional feature. I'll finish that off now.

[2022-02-09 15:53] cseickel commented on #135
@grem11n I have made this an option that is disabled by default in the `135-optional-netrw-hijack` branch. If you want to switch to that now you can try it out and see if it works as expected. I still need to document, add tests, and leave some time for discussion before this is released.

[2022-02-09 19:22] bennypowers commented on #134
As an initial straw proposal, I suggest that placing the cursor on a file should open a new buffer which previews the contents of that file. if a buffer for that file is already open, switch to it. when the cursor moves, if that file didn't already have a buffer, close it

That would more-or-less map with atom/v****e behaviour

[2022-02-10 08:01] nyngwang commented on #134
You can set the `cwd` option in fzf-lua to preview files under the current folders and/or any folders with respect to `cwd`. But yeah, people are telescoping nowadays. I just personally hate it :) It's too heavy and energy-consuming.

[2022-02-10 08:03] nyngwang commented on #134
Just previewing files without the ability to **filtering** them, seems to be just a fancy eye-catching function. I used to try many, all uninstalled.

[2022-02-10 08:18] bennypowers commented on #134
@nyngwang I'm really glad you found a tool that you enjoy for fuzzy finding. I'm also equally happy for you that you've discovered you don't really need a file browser.

This feature request has *nothing to do* with fuzzy finding, and this repo is primarily a file browser, so while I appreciate that you want me to use your fuzzy finding tool instead of this package, perhaps we could continue that

[2022-02-10 09:18] grem11n commented on #135
Thank you so much, @cseickel !

Works like a charm. I've tried both direct call with `call netrw#BrowseX(...)` and Tpope's plugins. Everything looks good so far.

[2022-02-10 12:17] cseickel commented on #134
I didn't realize vscode has this feature. Can you provide a link to a demo or documentation page?

[2022-02-10 12:20] bennypowers commented on #134
https://github.dev/nvim-neo-tree/neo-tree.nvim

single-click (NOT double-click) any file in the file explorer

[2022-02-10 13:16] bennypowers commented on #134
I'd think cursor-over maps to single click and <enter> maps to double click

Doesn't need to be exactly like the M$ editor, just brought it as an example of a common ui. A floating window would likely also be ok, but the advantage to a full 'temp' buffer is that user can see more columns in her buffer when previewing

[2022-02-10 16:41] mrjones2014 opened #137 "How to quit Neovim if Neotree is the last remaining window?"
Hi, just switched from nvim-tree, really impressed so far.

The one thing I'm not seeing that nvim-tree had built in is an option to quit Neovim if the only remaining buffer is the Neotree buffer?

[2022-02-10 16:46] mrjones2014 commented on #137
I've done it with this but it'd be cleaner to have a built-in option IMO:

[code]

[2022-02-10 16:54] mrjones2014 commented on #137
actually I guess what I want is to quit if Neo-tree is the last _window,_ not just buffer. the above doesn't do that.

[2022-02-10 17:32] doongjohn opened #138 "set icon for the empty folder"
is there any built-in option to set icon for the empty folder?

[2022-02-10 18:06] cseickel commented on #134
I can see the utility in this, but I think I prefer the floating window preview just so that the existing window layout is not ruined unintentionally. This will likely need a lot of configuration options because everyone's tastes are different. I'm not going to do this immediately, but I'll keep thinking about it.

[2022-02-11 02:46] cseickel commented on #137
OK, I can see how to do this right. It should be easy so I'll add it soon.

[2022-02-11 03:36] cseickel commented on #135
@grem11n This is close to being merged. When it does, the default behavior will be to continue to hijack netrw and disable it, but there will be an option to disable the hijack behavior. **You should add this to your config:**

[code]

[2022-02-11 04:24] nyngwang commented on #138
I did notice this issue! Please add this one 🥺

[2022-02-11 05:37] datwaft commented on #100
I am having a similar problem, but instead of being like 0.7 seconds it looks to be multiple seconds:

[![asciicast](https://asciinema.org/a/468260.svg)](https://asciinema.org/a/468260)

Here is the url if you cannot see the asciinema: https://asciinema.org/a/468260

[2022-02-11 06:54] nyngwang commented on #100
To providing motivation for this optimization: I remember I can __hold__ the toggle key of nvim-tree.lua and the tree can on average complete a open-close round in 0.1s, so it blinked soothly.

[2022-02-11 07:43] Neelfrost opened #139 "`:NeoTreeReveal!` to skip prompt for changing the cwd"
Is it possible to add `:NeoTreeReveal!` such that the user is not prompted to switch the cwd i.e., the cwd is switched automatically and the file is focused?

[2022-02-11 09:11] nyngwang commented on #139
? cwd is not supposed to be changed by _ant_ file-tree plugin IMOO.

[2022-02-11 09:18] nyngwang commented on #139
Sounds like a `autocmd BufEnter * ...`?

[2022-02-11 12:02] mrjones2014 opened #140 "Creating a new file fails when trying to create a new directory and file in that directory in one go"
For example, say you have the tree:

[code]
if you put your cursor over `lua/` and press `a` to add a new file, and for the file path you enter `snippets/rust.lua` to create the `snippets/` dir and a file called `rust.lua` inside the new `snippets/` folder, it should be able to create the directory and file in one shot.

Currently it fails because the `snippets/` directory does not exist.

[2022-02-11 12:25] cseickel commented on #139
That sounds like a good idea. I'll add it.

[2022-02-11 12:39] cseickel commented on #100
@datwaft It's really helpful to know that it happens in your docker container! I see your dotfiles, I'll try it out later and troubleshoot.

[2022-02-11 13:37] #133 closed

[2022-02-11 13:37] #135 closed

[2022-02-11 13:52] datwaft commented on #100
To clarify, I couldn't reproduce it in the docker container. It was instantly fast even with tmux and zsh installed.

I haven't tried with my full dotfiles in the container yet, but commenting my whole zshrc doesn't seem to so anything.

[2022-02-11 16:03] nyngwang commented on #140
This is a serious one IMOO. I did want to report this days ago but forgot.

[2022-02-12 00:56] #112 closed

[2022-02-12 01:04] cseickel commented on #100
@datwaft We do have logging that can be enabled that may provide clues. To use it, set these variables in your config:

[code]

Then restart nvim, open the window once, and then run:
[code]

Which will open the log file in a new tab. Can you copy and paste or attach that log file?

You will want to change those settings back after you are done, the `trace` level outputs a lot and there is no file

[2022-02-12 02:01] wookayin commented on #100
You may find this way of doing profiling useful:
[code]
and then the log file will show you which function (not lua functions though) is slow.

[2022-02-12 03:25] #138 closed

[2022-02-12 03:25] #139 closed

[2022-02-12 04:28] cseickel commented on #121
This is done and merged to **v1.x**. Use this option to get the desired behavior:

[code]

[2022-02-12 04:28] #121 closed

[2022-02-12 04:37] datwaft commented on #100
Here is the log: http://0x0.st/oXDA.txt

I just opened neo-tree using NeoTreeReveal and closed the neo-tree window after that.

[2022-02-12 04:43] datwaft commented on #100
Here is the log for this: http://0x0.st/oXDm.txt

I just opened neo-tree using NeoTreeReveal this time.

[2022-02-12 13:53] cseickel commented on #100
That was helpful in that it eliminated a lot of possibilities. Neo-tree is doing what it should, it just takes a long time to either:

- Read the files and directories
- Subscribe to change events on the directories
- Run `git status --porcelain=v1`

Can you test with the following changes:

- Start from a different directory. The ultimate test would be to create a new directory just for this and

[2022-02-12 15:05] cseickel commented on #114
I just pushed this to **main**, add this option to disable the popup inputs:

[code]

[2022-02-12 15:42] cseickel commented on #140
This is in **main** now. If you have time to try it out, please let me know if you run into any issues or not.

[2022-02-12 16:14] nyngwang commented on #140
@cseickel: It works perfectly. I think we can close this one  :)

[2022-02-12 16:15] nyngwang commented on #114
@cseickel: Insane! Really appreciate this option!!

[2022-02-12 16:27] nyngwang commented on #112
@cseickel: I just added the `trailing_slash = true` but it didn't show the slash?

[2022-02-12 17:02] #114 closed

[2022-02-12 17:02] #140 closed

[2022-02-12 18:22] nyngwang commented on #105
I think this problem still exists.

https://user-images.githubusercontent.com/24765272/153723388-c573129f-8922-4e80-9ddc-5d33fa68506d.mov

[2022-02-12 19:22] mrjones2014 commented on #137
@cseickel I'm getting the following error when I set the new option:

[code]

[2022-02-12 20:03] nyngwang opened #141 "Incorrect bg color on rename"
As title. I suppose that the it should have the same color as I set:

[code]

<img src="https://user-images.githubusercontent.com/24765272/153726553-83d001a4-7972-45bb-9ab1-dc57554eb00d.png" width="500">

[2022-02-12 20:24] cseickel commented on #141
Do you mean the `lua` part? It looks like that may be a left over search from vim's built-in `/` search command.

[2022-02-12 20:42] nyngwang commented on #141
No. I mean the background of all files and folders.

[2022-02-12 20:47] #141 closed

[2022-02-12 23:24] nyngwang commented on #100
@cseickel: this problem has been resolved. I'm satisfied with the current speed.

[2022-02-13 00:03] cseickel commented on #105
That was the missing detail I needed! I found the bug and am fixing it now.

[2022-02-13 00:31] cseickel commented on #105
@nyngwang I think this is fixed now in **mian**.

[2022-02-13 00:33] cseickel commented on #109
@nyngwang It's possible the fix from #105 will fix this problem as well. Let me know.

[2022-02-13 00:35] cseickel commented on #110
Closing for now due to lack of activity. Feel free to re-open if you have any new info.

[2022-02-13 00:35] #110 closed

[2022-02-13 00:37] nyngwang opened #142 "Rename file with `$` will cause error"
As title. You probably need to escape it.

[2022-02-13 00:49] cseickel commented on #142
I'm not having this issue. What OS are you on?

[2022-02-13 01:02] nyngwang commented on #142
macOS 12.2. To be clear I mean renaming an existing file with a new name like `foo$bar` to reproduce this bug.

[2022-02-13 01:04] nyngwang commented on #105
@cseickel Lol, I thought this info was not important days ago so I didn't provide it. Let me check it now!

[2022-02-13 01:12] nyngwang commented on #109
@cseickel: I think it's resolved. These are the steps I used to test it:

1. Open 4 splits, all files are under different file paths far, farrrrr away.
2. Randomly choose one split, and change its buffer to `plugins.lua` where I trigger packer.nvim
3. After the update of all plugins by packer.nvim, open neo-tree via `NeoTreeToggle` and check whether the cursor behaves correctly.

It succeeded in t

[2022-02-13 01:15] nyngwang commented on #142
No error, but the `$` is substituted to something else, like a random substring. So `foo$bar` will become `fooX2f4bar`

[2022-02-13 01:24] cseickel commented on #142
I remember you mentioning before that you used multiple languages for input, maybe it's related to that?

[2022-02-13 01:27] nyngwang commented on #142
@cseickel I think you could put this one with very low priority since most of the time I won't name a file containing a `$`. That I opened this issue is I just accidentally encountered it this morning, in case I will forget.

[2022-02-13 02:04] #105 closed

[2022-02-13 02:59] nyngwang opened #143 "Neovim crashed on delete a opened buffer/file"
As title. I think this is a very serious bug. To reproduce:

1. Open a new neovim session in terminal via `nvim .`.
2. Open neo-tree, then open any existing unimportant file under `.`.
3. Open neo-tree again, then use `d` to delete that file.
4. You will have chance that your neovim session gets terminated and the entire tmux-window got broken.

I have experienced this at least three times, someth

[2022-02-13 03:56] cseickel commented on #143
Should be fixed now. The problem is that I was calling `bwipeout` on the buffer when you delete the file, which is normally a good thing. In this case, if that file is the only one in the session aside from a floating window, that is not allowed.  I avoid the error, which likely caused your crash, by wrapping it in a pcall which will do nothing if it is an error. The downside is that now you have

[2022-02-13 13:07] cseickel opened #144 "Opening an existing buffer should switch to it instead of `edit`ing it"
With `edit`, if a file has unsaved changes it results in an error because `edit` implies reverting the file to what is saved on disk.

[2022-02-13 15:33] #65 closed

[2022-02-13 15:33] #143 closed

[2022-02-13 15:33] #144 closed

[2022-02-14 04:52] nyngwang opened #145 "rename file with new folder created failed again?"
The error message:

[code]

https://user-images.githubusercontent.com/24765272/153801933-25030e6c-7f9a-49d3-b16f-0957136daf27.mov

## Info

[code]

[2022-02-14 12:10] mrjones2014 commented on #137
This is still not working for me. I've set the option in config, but Neo-tree still remains open for me when it's the last window.

[2022-02-14 12:20] cseickel commented on #137
It is working for me right now. One thing that may affect you is that the setting only applies if the last window was opened as a sidebar.

Can you share your config and an example of what steps will recreate the issue?

[2022-02-14 13:41] mrjones2014 commented on #137
My Neo-tree config, installed with packer:

[code]

To reproduce:

1. Open a file, then open Neo-tree (or vice versa, order does not matter)
2. Close the window with the file buffer
3. Neo-tree should close, but it sometimes doesn't (I just noticed the issue seems to be intermittent)

[2022-02-15 00:14] cseickel commented on #137
I'm just guessing because it always works for me, but I added a filter when counting windows to exclude floating windows, and maybe that will fix the issue for you. Let me know if this helps.

[2022-02-15 01:20] cseickel commented on #145
I've added new mappings for filesystem:
[code]

which will behave the way you want. You can also just change your `r` mapping to the new `"move"` command.

[2022-02-15 02:52] cseickel opened #146 "Changes for 2.x"
This is to collect all of the changes that are being held for 2.x, because they would be breaking change or a change to default behavior.

**Default Mappings**
- [x] `copy_to_clipboard` = y
- [x] `copy` = c
- [ ] Move Mapping config to global level?

**Commands**
- [x] Remove NeoTreeShow*, NeoTreeFocus*, NeoTreeReveal* in favor of generic NeoTree with arguments

**Default Options**
- [x] `filesyst

[2022-02-15 06:37] yanzhang0219 opened #147 "Slow in a repo with large working tree"
Hi, this plugin is awesome. Great ideas on filtering and sources, easy to customize and extend, and very active development. Thank you first.

To reproduce this issue:
1. Create a bare repo `git init --bare $HOME/bare.git`
2. In zshenv, set git env
[code]
3. In a new shell, under `$HOME`, let's create a file, and commit it
[code]
4. Next, we open this file using Neovim. Then open `neo-tree` via `:

[2022-02-15 08:02] nyngwang commented on #145
Sorry for my late reply, was busy about Unity things. Let me check this now :)

[2022-02-15 08:08] nyngwang commented on #145
It's a great success. Very satisfying result to me :) Let me close this now!

[2022-02-15 11:54] mrjones2014 commented on #137
Works for me on branch `main`!

[2022-02-15 12:20] #137 closed

[2022-02-15 13:11] cseickel commented on #147
I ran through the test and I don't have an issue if I follow the instructions exactly, but ti will freeze up if I open the `bare.git` directory.

This is a known issue with adding file watches to a git directory, because it throws off change events constantly. I have a check for `.git` directories where I skip adding watchers to those, but I hadn't come across the `bare.git` pattern before this.

[2022-02-15 13:12] cseickel commented on #147
Oh, and thanks for the kind words!

[2022-02-15 15:32] yanzhang0219 commented on #147
Thank you.

Maybe not. Let me make my example above clearer. :)

Throughout the process, I stay under `$HOME` directory. On step 4, I open this file by `nvim file1`. Then I run `:NeoTreeShow`. Neovim is stuck there for around 3 seconds until `neo-tree` window shows up. Next, I type something in this file, then I run `:w`, Neovim will be stuck again for a little while until `[M]` symbol shows next

[2022-02-16 00:21] cseickel commented on #147
I think the problem is with the `respect_gitignore` setting. Can you try disabling that with:

[code]

and letting me know if that fixes the problem?

if it does we may be able to throttle or cache that check.

[2022-02-16 00:24] cseickel commented on #147
Here is the command that is actually run to get the ignored files:
[code]

[2022-02-16 00:45] #109 closed

[2022-02-16 02:31] yanzhang0219 commented on #147
Thanks.

I can confirm that after setting `respect_gitignore = false`, the issue is totally solved and `neo-tree` is so smooth and responsive with a large git working tree. Awesome.
However, sometimes `respect_gitignore = true` is still useful for a repo with a large working tree. Is it possible to fix this to make `neo-tree` has good performance even if `respect_gitignore` set to `true`?

Thanks

[2022-02-16 02:36] cseickel commented on #147
Maybe, I will try out different strategies and see if there is a better way. We may have to add options that trade accuracy for performance. The built-in plenary filter that we used to use is likely better performing in this situation, but not always accurate.

The hard part was figuring out exactly where the issue was. The rest should be downhill from here.

[2022-02-16 02:57] yanzhang0219 commented on #147
It makes sense. Thank you very much for developing and maintaining this plugin. I will use it with `respect_gitignore = false` and looking forward to your new strategies to see whether this can be solved.

[2022-02-16 03:41] yanzhang0219 commented on #147
Or is it possible to make the process of checking gitignore asynchronous?
`neo-tree` could open a window containing all files and check the gitignore in the background. After finishing, update the tree to filter out the entries in gitignore.

[2022-02-16 12:28] cseickel commented on #147
You know, I checked out the linux repo, which is insanely huge, and I had no performance issues. I think the problem with the bare repo as you have configured it is that there is a large amount of untracked but eligible files. I bet if you just add an appropriate .gitignore file that would solve the issue. In this case, you might want to .gitignore everything and then only track what you explicitl

[2022-02-16 13:15] cseickel commented on #147
... but if you do keep your bare repo as-is, update to the latest in **maint** and add this option to enable the alternative gitignore logic:

[code]

[2022-02-16 17:51] yanzhang0219 commented on #147
Thank you so much for you help and suggestions.

Lol, yesterday I tested it with linux repo (more than 5GB) as well. I opened the `Makefile` file under the root directory in `linux` and then run `:NeoTreeReveal`, the `neo-tree` window didn't show immediately, and still had a hundreds of milliseconds freeze. I can feel it, even though it is not that noticeable. If I run `:NeoTreeReveal` in a very s

[2022-02-16 18:37] cseickel commented on #147
The major issue with this is that it only works when your cwd is the root of the repo, otherwise it doesn't find the `.gitignore` file. It also is not aware of any cascading `.gitignore` that may be in effect. See this for more info: https://github.com/nvim-neo-tree/neo-tree.nvim/issues/78

...actually, now that I read that I realize it's worse than I remember. It only works for the root level obj

[2022-02-16 20:06] yanzhang0219 commented on #147
Okay. Thanks.

For my verbose relay above, I want to extract and summarize the questions so far below to make it clear for your reference.

For all situations below, use `1.x` branch, i.e., not set `gitignore_source`.

1. For bare repo
	In `zshrc`, set
[code]
	Then open a file under `$HOME`, and run `:NeoTreeReveal`.

	If set `respect_gitignore = true`, it has a long latency.
	If set `respect_giti

[2022-02-16 21:39] yanzhang0219 commented on #147
One more idea:
For the gitignored files, how about adding an option to show them with a symbol like `[I]`, or hide them directly?
E.g.,
[code]

For the symbols, `nvim-tree` uses symbols for different status of files
<img width="152" alt="image" src="https://user-images.githubusercontent.com/11582667/154361528-7b6f5e34-2610-4d4a-ad56-75f24fb43ecf.png">

I think this is a good addition to `neo-tree`

[2022-02-16 21:43] cseickel opened #148 "Add option to show git ignored files with indicator"
One more idea (let me know if it is better to open a new issue):
For the gitignored files, how about adding an option to show them with a symbol like `[I]`, or hide them directly?
E.g.,
[code]

For the symbols, `nvim-tree` uses symbols for different status of files
<img width="152" alt="image" src="https://user-images.githubusercontent.com/11582667/154361528-7b6f5e34-2610-4d4a-ad56-75f24fb43ecf.pn

[2022-02-16 21:46] cseickel commented on #148
I think this is a good idea @yanzhang0219, I personally like to show any "hidden" files in a different highlight group as well. I'll add both options.

[2022-02-16 23:01] rockyzhang24 opened #149 "Exclude files/dirs by pattern"
How about adding an option to exclude some files/directories based on a pattern to make them being hidden?

E.g.,
[code]

Thanks.

[2022-02-17 06:10] wookayin commented on #121
Works great with the `hijack_netrw_behavior = "open_in_split"` option. I expected it `:NeoTreeOpen` would **still open in the left vsplit window regardless of** hijacking, which I think is the most reasonable behavior, but it works as it is said: open in the current buffer. How would I achieve this if I want this, i.e., when running `:NeoTreeShow` / `:NeoTreeOpen` while respecting ` window = { pos

[2022-02-17 06:27] wookayin commented on #121
I checked out the latest release again and it works perfectly as I expected.

With `filesystem.hijack_netrw_behavior = "open_split"` option (NOTE the typo, in this thread it was  incorrectly said `"open_in_split"`) set, `:split .` `:vsplit .` `edit .`, etc., all work well opening into the correct window, and `:NeoTreeToggle`, `:NeoTreeOpen`, etc. opens in the left like the previous default behavio

[2022-02-17 06:27] wookayin commented on #111
In the current main (v1.37), this still hasn't been fixed.

[2022-02-17 12:38] cseickel commented on #147
That definitely resulted in a delay but but I only had a long delay the first time, and after that it was about 1 second. I think the cache is more effective on my computer, maybe because it is clean or I just have a lot less files in my HOME directory. Whatever the case it is still enough to make an obvious delay but not to the degree that you are seeing.

I don't have that, but it could be that

[2022-02-17 12:50] cseickel commented on #149
I'm not seeing a situation where someone would want to hide a file in Neo-tree without actually making it hidden at the OS level or putting it in a gitignore file. In your example, `node_modules` should be in .gitignore and `.DS_Store` is already hidden and won't be shown by default.

[2022-02-17 14:35] cseickel commented on #149
I just realized that there is no way to rename `node_modules`, and therefore no way to hide it outside of windows if it's not in a repo. Just another reason to hate the nodejs ecosystem...

I can add something. I am considering adding a more generic `process_item` option that is a function to be called on every item before it is added. That way it could be used for other purposes, one of which bei

[2022-02-17 14:46] yanzhang0219 commented on #149
Thanks.

Not really. For example, sometimes I want to see the whole contents (including hidden ones) in a certain directory that is not a git repo, but only hide `.DS_Store` that exists in each folder on macOS. In this situation, I cannot put it into `.gitignore` and all hidden files need be shown other than `.DS_Store`. So we need an extra option for such a file. `nvim-tree` has this, it is `filt

[2022-02-17 17:27] yanzhang0219 commented on #147
No, still very long latency. What I did is bit by bit is:

1. Put `export GIT_WORK_TREE=$HOME` in `.zshrc`.
2. Open a new shell window
3. `cd` into linux folder, then run `:nvim Makefile`. In Neovim, run `:NeoTreeReveal`.

After pressing `<ENTER>`, around 7~8s latency there. I put a short demo below.

[demo](https://asciinema.org/a/c48oruTbs0fgB9O5f2JRB9lan)

[2022-02-17 17:58] yanzhang0219 commented on #147
Thanks for the explanation and apologize my wrong understanding for exit code.

It outputs contents under my `$HOME`, totally 75073 entries. \
<img width="388" alt="image" src="https://user-images.githubusercontent.com/11582667/154542183-55007096-b65d-464e-9587-0b6c88a17e72.png">

And then I run `time git status --porcelain=v1` to get the time
<img width="609" alt="image" src="https://user-images.

[2022-02-18 03:30] wavded opened #150 "Ability to use system open on a file"
Thanks for the great plugin. Coming from NerdTree and NvimTree, it would be great to add a command to open the file with the system (e.g. `open` on macOs).

[2022-02-18 19:54] cseickel commented on #150
This is not something I will be adding personally because I would never use it, but I'd be happy to merge a PR if someone else wants to add it. It's also a good candidate for a custom command. See `:help neo-tree-custom-commands` or https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Recipes#commands

[2022-02-20 00:10] cseickel commented on #147
I just merged a new `git_status_async` option to **main** that I think works really well. If there are no issues, I'll make this the new default. To enable it now along with the other improvements, set these options:

[code]

Please try it out and let me know how it works.

[2022-02-20 17:24] wavded commented on #150
This worked for me, thx for the pointers. I personally use this a lot (for binary or previewing files):

[code]

[2022-02-20 18:01] yanzhang0219 commented on #147
Thanks. Now, the latency issue is totally resolved. After I press `<ENTER>`, the `neo-tree` window appears immediately. That's cool!

However, if I change `gitignore_source` to `git status`, the latency is still very significant. Btw, I also tried `nvim-tree` and I found there is no latency for the bare repo and very large working tree.

Thank you.

[2022-02-20 19:09] cseickel commented on #150
Thanks for sharing! If you don't mind, I'd like to add this to the [Recipes](https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Recipes#commands) section of the Wiki. I'll also leave the issue open in case someone wants to add in all the cross platform parts needed for a built-in command.

[2022-02-20 19:16] cseickel commented on #147
Yes, this is a two part solution, for a large repo. Checking ignore and status can each add their own delay. I think I will make both of these settings the new default soon, but I want to use it for a week to make sure there are no issue.

I'm pretty sure nvim-tree has already made the switch to an async git status. I just put it off until someone expressed a need because it always worked fine for

[2022-02-20 19:28] wavded commented on #150
Sure thing 👍🏻

[2022-02-21 02:24] nyngwang commented on #150
@wavded  This one is cool. Can this be able to open finder when the cursor is hovered on a folder?

[2022-02-21 02:29] nyngwang commented on #147
I'm happy to see that this discussion continues. I have also experienced the same recently but I was too busy to report it. Thanks for the OP btw :)

[2022-02-21 02:31] wavded commented on #150
Yeah, that is a useful idea. This will open up directories as well now.

[code]

[2022-02-21 02:33] nyngwang commented on #150
@wavded Awesome! Now I'm sure this tree is absolutely a replacement of the nvim-tree.lua :) (which has this ability too.)

[2022-02-21 02:37] #147 closed

[2022-02-21 02:39] nyngwang commented on #150
@wavded Just test it and it works nicely. Have a nice day!

[2022-02-21 02:57] nyngwang commented on #111
@wookayin: If the file you want to reveal is not under the current parent folder(i.e. the result of the last time you opened it), then your cursor will be put at the parent.

I haven't encountered this bug since [the last comment by @cseickel ](https://github.com/nvim-neo-tree/neo-tree.nvim/issues/111#issuecomment-1037616436) above.

[2022-02-21 03:40] yanzhang0219 commented on #147
@cseickel Thank you.
So `gitignore_source` has two values now, `check-ignore` and `git status`, right? Is the value `plenary` removed? I remember you mentioned that `plenary` has a low accuracy, how about `check-ignore` and `git status`?

Thank you very much.

[2022-02-21 03:48] cseickel commented on #147
The plenary option technically still exists but it is too flawed to be useful so it won't be documented and can be removed at any time.

`gitignore_source` currently has two recommended values, `git check-ignore` and `git status`, both of which are 100% accurate. On a very large repo, `git check-ignore` will be faster. On a small repo where all ignored files can be listed in milliseconds, `git sta

[2022-02-21 04:57] yanzhang0219 commented on #147
Thank you so much for the explanation. Now `neo-tree` works like a charm. I really appreciate what you have done and all the efforts you put into the issue exploring and fixing 👍

[2022-02-22 12:14] nyngwang commented on #147
Thanks for you guys making this plugin better! @cseickel @yanzhang0219

[2022-02-24 15:39] aiecee commented on #128
The way I got around this with `auto-session` was to use the command hooks.
`pre_save_cmds` to do `tabdo NeoTreeClose`
`post_save_cmds` to do `tabdo NeoTreeReveal`
`post_restore_cmds` to do `tabdo NeoTreeReveal`

[2022-02-25 04:54] lopi-py opened #155 "`set signcolumn=no` when open `neo-tree` buffer"
I have signcolumn setted to 2, but in file explorer I don't want the signcolumn, looks weird, or is there an option to this?

[2022-02-25 13:01] cseickel commented on #155
The short answer is that the neo-tree buffer has a filetype of `"neo-tree"`, and you can use autocmd events to set options based on that. For a pure lua solution, you can use neo-tree's own event system. See https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/104 for an example.

[2022-02-25 14:17] lopi-py commented on #155
Thanks!, I think it's a hacky solution but works, I wonder if can be setted at buffer creation

[2022-02-25 15:34] lopi-py opened #156 "Add event `VIM_COLORSCHEME`"
Useful to update neo-tree highlights when changing neovim colorscheme. Also should add internal `require("neo-tree.ui.highlights").setup` handler

I have this by now
[code]

[2022-02-25 16:47] cseickel commented on #156
Interesting. I didn't realize that would be needed. What highlights are an issue without this autocmd?

[2022-02-25 19:46] lopi-py commented on #156
I'm just getting highlight for devicons (without autocmd)
![image](https://user-images.githubusercontent.com/70210066/155785045-6210aceb-b298-4e35-9618-d566758a5be3.png)

[2022-02-25 23:34] gsalvatella opened #157 "`fuzzy_finder` not working"
Using the `fuzzy_finder` associated with the `/` key is not working. Either it doesn't find any matches or it often throws the following error:
[code]
Using the bare bones configuration provided by the current README.

[2022-02-25 23:43] cseickel commented on #157
Do you have `fd` or `find` installed? If so, can you tell me what version you have?

[2022-02-25 23:45] gsalvatella commented on #157
[code]

[2022-02-26 01:11] cseickel commented on #157
I'm not able to recreate this issue. It is possible that it is a conflict with another plugin. Can you try a minimal init with just Neo-tree installed to see if the issue still exists?

[2022-02-26 04:56] lopi-py opened #158 "`filter.respect_gitignore = true` seems not working on WindowsOS"
also when I set `filter.show_hidden = false` my `.gitignore` doesn't render, is this intended?
Edit: I did notice that just not works with directories

[2022-02-26 14:18] cseickel commented on #155
I could certainly create another way for you to add `set local` options for neo-tree buffers. I'm hesitant because there are already so many options... I can think of three options, in order of most generic to most specific:

1. Add another event type that is specific to` "neo-tree-buffer-enter"`, just so you don't need to do the filetype check yourself.
2. Add a root level config option which is

[2022-02-26 14:25] cseickel commented on #158
I don't use neovim on Windows, so I can only guess at the problem, but that is a good clue. I'll take a look.

Yes, because the "hidden" files logic is actually using the *nix convention of files that start with a dot are hidden. It does not actually support the Windows version of what is a hidden folder.

[2022-02-26 14:42] cseickel commented on #158
There was a bug I fixed with gitignore not working for directories recently. Can you confirm that you are on the latest release and whether you have set the `gitignore_source = "git check-ignore"` option?

[2022-02-26 16:28] lopi-py commented on #158
yes, I'm on the latest release, also when I set `gitignore_source = "git check-ignore"` also not works with files, since I'm on Windows I'll try to look into it and fix it

[2022-02-26 16:47] lopi-py commented on #155
Yeah, the 3 looks good, but you can tree make a combination of 2 and 3, something like this
[code]

[2022-02-26 18:31] #158 closed

[2022-02-26 23:12] cseickel commented on #142
I'm going to close this one. Since it does happen for me there's really nothing i can do.

Besides, it seems pretty unusual to have a dollar sign in a file name. I'd say if this affects you and you don't want to submit a PR that fixes it, just rename those files in another way.

[2022-02-26 23:12] #142 closed

[2022-02-26 23:17] cseickel commented on #111
Hey @wookayin, since this is not happening to me I'm not going to be able to fix it. Let me know if you can find a way to recreate the issue with a minimal config that I can test out. If I don't hear from you in the next few days I will close the issue.

[2022-02-26 23:25] cseickel commented on #100
@datwaft I'm going to close this issue. I think the remaining slowdown you are experiencing is something unique to your computer. I don't see much more that I can do on my end.

For the extra slowness in a git repo, there have been improvemnts made there, see https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/152

[2022-02-26 23:25] #100 closed

[2022-02-26 23:27] datwaft commented on #100
Thanks for your help! I will try to find the cause.

Btw, I tested it in a Windows computer inside the WSL with my dotfiles and everything and there is a delay there too.

[2022-02-26 23:36] cseickel commented on #100
Let me know If you have any questions at all while you are troubleshooting.

[2022-02-27 20:26] nyngwang commented on #149
Waiting for this. I'm working on a python project where I need to ignore folder like `__pycache__/`.

[2022-02-27 20:55] #156 closed

[2022-02-27 21:36] cseickel commented on #149
I'm going to work on this now. Since it seems like all examples so far are exact names and not patterns, I plan on implementing it as an exact match which will be much faster. Let me know if anyone sees the need for patterns.

[2022-02-28 01:06] wookayin commented on #111
@cseickel Well, the problem still presents. I will try reproducing minimal config, but seems not trivial. However, the bug is always reproducible for me. If you are not bothered, you are also welcomed to directly try out my dotfiles: https://github.com/wookayin/dotfiles. Please have this opened until we figure out something.

[2022-02-28 01:13] wookayin commented on #111
Actually I was able to reproduce the issue with the following minimal config:
[code]

Just out-of-box, no `.setup{}` call. What I did:

- Open NeoTree.
- Expand `somedir/`
- Open `somedir/somefile`
- Expand `another_directory/`
- At this point, cursor moves to `somedir/somefile`

My environment is macOS (M1) 12.0, NVIM v0.7.0-dev+1032-g01e58fb14.

Would you be able to reproduce the bug?

[2022-02-28 08:58] gsalvatella commented on #157
I have tried it as you mention (removing all other plugins) and the error persists.
![image](https://user-images.githubusercontent.com/42438361/155953936-8d6a7169-e909-4f2a-9f30-a15858caba73.png)

[2022-02-28 20:41] lopi-py commented on #118
I'm trying to get it 👍
![image](https://user-images.githubusercontent.com/70210066/156054909-7e325df2-2296-490d-9305-11ca1d40faff.png)

[2022-02-28 23:52] cseickel commented on #111
I am seeing some random jumping around with a minimal init and no setup() call. I'll dig in and find the issue.

[2022-03-01 00:06] cseickel commented on #157
The only think I can think of is to make sure that plenary is up to date.

It's possible there might be some more clues in the logs: https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Troubleshooting

[2022-03-01 01:43] cseickel commented on #111
Now that I know what the issue was, I can't believe it hasn't affected me before now.

@wookayin  I think I got it, can you try out **main** and let me know if it seems fixed?

[2022-03-01 02:19] wookayin commented on #111
@cseickel Thanks! Glad you figured out and it was such an easy fix once you knew why. I can confirm the bug is fixed in the main branch.

[2022-03-01 13:16] #111 closed

[2022-03-01 16:38] lopi-py opened #165 "Disable cursor when enter on the tree"
I'll try to create a PR on my free time

[2022-03-02 03:54] jinleileiking opened #166 "FEATURE:bookmark"

[2022-03-02 12:24] cseickel commented on #166
Can you provide more information?

[2022-03-02 12:25] cseickel commented on #165
What does "disable cursor" mean and why would you want to do it?

[2022-03-02 13:53] nyngwang commented on #165
I have the same question.

[2022-03-02 13:55] nyngwang commented on #166
I don't think neo-tree will need this feature. One can use plugins like dashboard.nvim.

[2022-03-02 13:56] lopi-py commented on #165
Sorry, I mean hide cursor

[2022-03-02 13:58] lopi-py commented on #165
People can have mappings like `h` and `j` to collapse/expand directories, maybe the cursor is a bit annoying in that case, hidding it and enabling cursorline might be a good adition I guess (could be optional the cursor hiding thing)

[2022-03-02 16:59] cseickel commented on #165
This is definitely an optional thing, or possibly just a recipe in the Wiki.

That's definitely not an opinion that everyone shares. I remap h,j,k,l to window navigation commands myself. People should do whatever makes them happy! Neo-tree should (ideally) be flexible enough to accommodate any workflow and preferences.

[2022-03-02 19:37] gsalvatella commented on #157
Plenary is up to date and the logs do not show any particular issues...
A somewhat related problem was reported for telescope: https://github.com/nvim-telescope/telescope.nvim/issues/549
I have tested it in a different terminal (alacritty) and the same error shows up...

[2022-03-02 19:48] cseickel commented on #157
I'm thinking that there is just some error happening in the async task that is crashing it. Maybe I can look for places to add extra error handling. Can you post your logs so I can see how far it gets before the error?

[2022-03-02 19:53] gsalvatella commented on #157
[neotree.log](https://github.com/nvim-neo-tree/neo-tree.nvim/files/8172504/neotree.log)

[2022-03-02 23:10] wookayin opened #167 "NeoTree <args>"
It would be great if `:NeoTreeReveal`, `:NeoTreeShow`, etc. commands are accepting path as the argument to open a specific directory. If one is using a netrw-hijacking mode, `:e <args>`, etc. would work for this, but there are some rare cases more direct API or command would be needed not assuming the hijacking behavior.

For example:

[code]

In addition to command, it would be even better if the

[2022-03-02 23:18] wookayin commented on #167
It is already there:

[code]

But this gives me an error:

[code]

[2022-03-02 23:19] wookayin commented on #167
BTW, command completions could be added for all the commands.

[2022-03-02 23:29] cseickel commented on #167
The args in this case are just the source to show, such as `filesystem`, `'buffers`, or `git_status`. There is an open issue to revamp the Command to use a single command with arguments that would cover all possible actions. That is stalled right now but I might pick it up and get that done soon. #31 #61

[2022-03-03 00:11] cseickel commented on #157
I got it! I saw in the log that there was a lot of permission denied errors. When I add a folder within my cwd that my user does not have permission to, I get the same error as you.

Now that I have recreated it, I'm sure I can fix it.

[2022-03-03 00:56] cseickel commented on #157
I think the latest commit in **main** will work around this problem for you, given that you are on a recent version of `fd`. This is ultimately a bug in plenary though, and my fix will not help users that rely on the `find` command instead which does not have a built-in "max results" option.

I'll try to submit a fix to the plenary project as well to fix the underlying issue.

[2022-03-03 13:05] cseickel commented on #157
I'm sorry, I forgot that you are using `find` and not `fd`. This will NOT work for you. It will if you install `fd` though, which is really a better search tool.

I'll also add in a workaround for `find` soon.

[2022-03-03 15:55] cseickel opened #168 "Cut/Copy/paste between windows"
Right now the cut/copy clipboard only works within a window. It might be nice to have a clipboard that is shared within a tab so that you can create two neo-tree windows in splits and be able to paste those items into a second tree.

[2022-03-03 23:24] AndreAugustoAAQ opened #170 "[Suggestion] Use default highlight group for diagnostic icons"
The plugin can use custom diagnostic icons
By default `nvim` already has the `DiagnosticSign*` highlight group
But currently the plugin uses `LspDiagnosticsSign`, as seen [here][0]
It would be interesting to change the origin of the icons to the `nvim` default

A plugin that would be useful for this is [ray-x/navigator.lua][1], which sets icons using the default highlight group
This would make it

[2022-03-04 01:53] cseickel commented on #170
I think I had the Lsp* hl groups because that was the standard in earlier versions and I never saw the change. I think it would be good to move to the standard names, but this is a breaking change so some care would need to be taken to ensure that the old LspDiagnostic* groups would still work the same if anyone had defined their own settings for those groups.

Are there default icons that I can b

[2022-03-04 03:08] AndreAugustoAAQ commented on #170
Yes, Lsp* are the past versions, and from what we find in these [PR][nvim pull] that the group names have been changed

One way to maintain compatibility is to use the [solution] used in [ray-x/navigator.lua][navigator commit]
It checks if vim.diagnostic exists, which was implemented along with the name change, if it returns false it uses the old nomenclature

I particularly use these icons
error

[2022-03-04 08:14] nyngwang commented on #118
Waiting for this one~

[2022-03-04 12:51] cseickel commented on #170
With the highlight groups, it's not that I care what version of nvim the user is one so much as I care about whether or not they are defining the old style of highlight groups themselves, either before or after the Neo-tree config runs. If they do, and we switch to using the new style internally, then their carefully selected colors will suddenly stop being used.

I think the answer right now, in

[2022-03-04 14:20] gsalvatella commented on #157
Thank you big time for the fix! So it was indeed a bug in the `vim.wait` function. Good that it has been found. Let's see if they fix it up soon and you can revert these workarounds. For now I'm disabling it and finding with the standard vim `/?`, since telescope makes the job and I prefer to avoid non-`gnu-utils` dependencies when possible. From my side you can close the issue unless you prefer t

[2022-03-04 14:30] gsalvatella commented on #170
I second this change for 2.x. As I changed `DiagnosticSign*` for the LSP diagnostics I quickly noticed that the ones in NeoTree had not been changed and thought initially that it may have been a problem with NeoTree itsellf. Elevating to Quickstart would be helpful. In the end the aren't that many configuration parameters, and these will become more relevant as nvim users migrate to LSP.

[2022-03-04 15:11] cseickel commented on #157
Oh yeah, I forgot to update you, last night I added another workaround that supports all commands. You should be safe to use it with `find` now.

I'm not sure if this is going to be fixed anytime soon, so I'll probably just leave my workaround in place and close this issue. It will close automatically when I release it to v1.x, which will be later today.

[2022-03-04 15:12] AndreAugustoAAQ commented on #170
+1 for the 2.x
The icons for those who have not defined can be the letters (E I W H) as is already done.
A deprecation notice would be great too.

[2022-03-05 14:32] #157 closed

[2022-03-05 15:53] cseickel commented on #149
Anyone interested in this feature, please see the discussion at: #171

[2022-03-05 15:53] cseickel commented on #148
Anyone interested in this feature, please see the discussion at: #171

[2022-03-06 15:53] cseickel commented on #149
This has been added to a new **v2.x** branch, along with breaking changes to the filters config. These options have been completely changed:

[code]

WARNING: **v2.x** is brand new and far from release. It will have many breaking changes, although I will alert you to these changes and try to auto migrate your existing config options.

[2022-03-06 15:58] cseickel commented on #148
This has been partially implemented in a new **v2.x** branch. The way it works now, if you show hidden files, git ignored files will be marked with it's own highlight group (grey) and use the `[!!]` marker. I'll also update or add a new component that can replace these codes with symbols in a future update.

**v2.x** has breaking changes to the filters config. These options have been completely ch

[2022-03-09 00:13] strange opened #175 "Open parent directory of currently open file when invoking `NeoTreeRevealInSplit`"
`nvim-tree` and `vinegar` both do this and I really like the behavior. If `NeoTreeRevealInSplit` is called and the current buffer is:

- `nofile`: just open the current working directory (current behavior).
- An existing file: open the parent directory (as opposed to the working directory today).
- A directory: go up one level (current behavior).

[2022-03-09 00:35] cseickel commented on #148
I've added my own set of symbols that I like better:

![image](https://user-images.githubusercontent.com/5160605/157349462-656caef3-bc97-4663-b685-0762ee5c9dfc.png)

![image](https://user-images.githubusercontent.com/5160605/157349649-4f8c7c05-d7d9-49b9-9355-63d986110b18.png)

This will be merged to 2.x soon, I''m not sure when 2,x will be released. Let me know if you have any feedback.

[2022-03-09 00:42] cseickel commented on #175
I think a good solution for this is to add the ability to specify the working directory as an argument to the command, then you can create your mapping with the behavior you are looking for. I'll include this in the work for #31.

[2022-03-09 07:23] strange commented on #175
That should work just fine!

[2022-03-09 11:31] korsmakolnikov opened #176 "Autoclosing option opening a file?"
There is a way or could we have an option like in the original NerdTree such as when a file is opened Neo-Tree will close itself?

Thank you

[2022-03-09 12:32] cseickel commented on #176
Yes there is, here is how you do that: https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Recipes#auto-close-on-open-file

[2022-03-09 19:06] #150 closed

[2022-03-10 13:28] nyngwang commented on #148
I want this cool feature AS SOON AS POSSIBLE.

[2022-03-10 14:02] nyngwang commented on #149
This must be a good idea. I prefer clearly specify any file I want to ignore, so I won't accidentally ignore some files in the future. The speed should have the highest priority, too.

[2022-03-10 14:08] nyngwang commented on #149
It's a little bit unclear for me: If I set both `hide_dotfiles/gitignored` to `true` and have `visible = true`, are these "hidden" files got shown/visible?

[2022-03-10 14:21] nyngwang commented on #158
@lopi-py: Joke aside, you missed the `s`. It's `filters.respect_gitignore = true`.

[2022-03-10 17:22] cseickel commented on #149
If `visible = true`, then all filtered_items are visible, but will be highlighted differently, like this:
![image](https://user-images.githubusercontent.com/5160605/157719347-3eee98c7-dbaf-47cf-a0f2-2f7414883a61.png)

In that screenshot, `doc/tags` is a gitignored file, and the rest are just dotfiles. The `H` mapping now toggles the visibility of all these files at once.

[2022-03-11 18:25] ziombo opened #177 "Dynamic resizing"
Is it possible to set neo-tree window's width on runtime?  Sometimes the project I'm working on has nested files and it would help me if I was able to resize the window. Something similar to NvimTreeResize in https://github.com/kyazdani42/nvim-tree.lua.

[2022-03-11 21:42] cseickel commented on #177
What does NvimTreeResize do exactly? Is it an auto resize to fit the content, or does it set the size to a specified value as an argument to the command?

[2022-03-11 22:18] ziombo commented on #177
It set's size to a specific value. I use it like this:
![image](https://user-images.githubusercontent.com/15613606/157980000-7af75955-8f5a-4967-aaaa-8d4990739484.png)

Not the pretties solution, but allows me to quickly adjust the width to my needs

[2022-03-12 00:24] cseickel commented on #177
Assuming that you always have your tree as a left hand sidebar, you can do that with native vim commands:

[code]

If neo-tree is not always window 1 for you, I can probably give you a slightly more complicated mapping to identify what window it is and resize that. I don't think it's worth having a special NeoTree command though, since the functionality is already handled natively.

Now, if what y

[2022-03-12 18:57] marcuscaisey commented on #175
I think this behaviour was already implemented, there was just a bug. https://github.com/nvim-neo-tree/neo-tree.nvim/pull/178 fixes

[2022-03-14 14:59] #177 closed

[2022-03-14 14:59] #176 closed

[2022-03-14 22:44] strange commented on #175
I just tried it again (`main`) and now it seems to work exactly the way I want it to.

I found the following commit that is related to handling paths when revealing in split:

https://github.com/nvim-neo-tree/neo-tree.nvim/commit/6c84fef01e600dc4cd2db8151ca86737f4130ec9

[2022-03-14 23:59] cseickel commented on #175
I think you're right! This was actually just a bug and I didn't realize it.

[2022-03-14 23:59] #175 closed

[2022-03-15 12:06] cseickel opened #181 "Create "global" config branch"
Instead of repeating things in each source, we should have a "global' key which would become the default settings for each source. Functionally, it would work the same as the "default_component_config".

Config will be merged in this order, for each source:
1. Internal default values
2. values defined in "global" key of config object sent to `setup()`
3. source values defined in "filesystem" or "b

[2022-03-17 01:18] cseickel commented on #181
This was altered to just apply to the `window` and `renderer` config sections.

[2022-03-19 16:01] #31 closed

[2022-03-19 16:01] #146 closed

[2022-03-19 16:01] #148 closed

[2022-03-19 16:01] #149 closed

[2022-03-19 16:01] #167 closed

[2022-03-19 16:01] #170 closed

[2022-03-19 16:01] #181 closed

[2022-03-19 21:04] wookayin opened #184 "v2.x; Neo-tree shows nothing."
4831beb   (HEAD -> v2.x, origin/v2.x)

<details>
   <summary>My neotree config</summary>

Note: this was working OK in v1.x, the only change is `hijack_netrw_behavior` renaming:

[code]

</details>

What happens: it literally shows nothing, on every `:NeoTree`-opening commands.

<img width="1026" alt="image" src="https://user-images.githubusercontent.com/1009873/159138325-346bcf35-473a-4254-a5d7-2

[2022-03-20 00:11] cseickel commented on #184
We don't actually have any commands that start with `NeoTreeOpen`. Did you create a custom command that is mapped to the lua api? There may have been a breaking change there that I forgot to list.

Does it work if you run these?
[code]

[2022-03-20 00:37] wookayin commented on #184
Those are defined in `plugin/neo-tree.vim` which you haven't removed yet: `g:neo_tree_remove_legacy_commands` is not set for me.

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/1009873/159143122-2c093224-1134-40f9-93d9-a2a859cc8e06.png">

Of course I did try all of them including the new command: `:Neotree` and it shows nothing on the file explorer buffer.

[2022-03-20 01:08] cseickel commented on #184
Can you set the log level to trace and post a log here? It may give me a clue as to what's going on.

Also, can you open a terminal at the root of this repo and run `make test`? Here's is what it looks like for me:
![image](https://user-images.githubusercontent.com/5160605/159143717-2b6b194a-c24c-415f-af28-9d46bc9308a0.png)

[2022-03-20 02:16] wookayin commented on #184
I tried setting log level to TRACE but I don't see any debugging message. 8 Tests are just failing -- all saying like nothing is printed on the sidebar.
[code]

I actually found something: this has something to do with neovim itself. I was **neovim nightly** (NVIM v0.7.0-dev+1283-g77eb6f9dc in my case) where neotree is broken. However, with neovim 0.6.1 stable, the v2 branch works! Could you pleas

[2022-03-20 02:50] cseickel commented on #184
I guess you are compiling from source because that commit is 3 hours old! It works on nightly, but that last commit looks like something that may break things.

I'll compile and take a look.

[2022-03-20 03:04] cseickel commented on #184
I checked out the same commit and compiled and I don't have the same problem, although my syntax highlighting is completely broken. Perhaps there is something in your config that is broken in a way that affects neo-tree?

With the logging, you do need to set `log_to_file = true` to get any messages below the debug level. See https://github.com/nvim-neo-tree/neo-tree.nvim/wiki/Troubleshooting for i

[2022-03-20 13:47] cseickel opened #185 "Opening a search result in "current"/"split" position reverts back to tree"
It should just open the file, but it looks like after opening the file, it quickly reverts back to the tree in it's unfiltered state. This affects both 1.x and 2.0.

[2022-03-20 14:56] hbiel commented on #184
I had this happen too. I see that your files are in a directory named ".dotfiles". If you press 'H' (as in shift + h) the files should be shown.

You can also set the filesystem filters to always show hidden files.

I don't know if this is the intended behaviour though.

[2022-03-20 15:20] cseickel commented on #184
That has to be it! With 1.x, the fact that a directory should be hidden was ignored when that directory was a root directory. You could actually call that a bug, but it was also a more intuitive outcome. I'll reinstate that behavior now.

[2022-03-20 16:22] cseickel commented on #184
The latest commit in **main / v2.x** fixes the issue of hiding the root folder. Please let me know if that was the cause of your issue @wookayin.

[2022-03-20 16:36] wookayin commented on #184
In my example above, the root directory was a working copy of the neo-tree.nvim repository: `/Users/$USER/.dotfiles/vim/plugged/neo-tree.nvim`. I still don't see any items after checking out the latest commit.

On `/Users/$USER`: it works
On `/Users/$USER/.dotfiles`: it works
On `/Users/$USER/.dotfiles/vim`: no results
On `/Users/$USER/.dotfiles/vim/plugged`: no results

Indeed any subdirectory un

[2022-03-20 17:25] cseickel commented on #184
OK, now I think it's right. Thanks for your help figuring it out.

[2022-03-20 18:29] wookayin commented on #184
@cseickel Thank you very much for the prompt fix!  The 2.0-rc3 version works well!

[2022-03-20 18:53] wookayin commented on #184
BTW, don't you need to remove legacy NeoTreeSomething commands (by default unless an user explicitly bring them back?)

[2022-03-20 19:14] cseickel commented on #184
I would love too, but that constitutes a breaking change, and my promise is that there are no breaking changes without a deprecation period.

2.x is the deprecation period for those commands, and they will be completely removed in 3.x.

[2022-03-20 20:15] wookayin commented on #167
So how to achieve this exactly?

[2022-03-20 20:51] cseickel commented on #167
[code]

See https://github.com/nvim-neo-tree/neo-tree.nvim/tree/v2.x#the-neotree-command for a complete description

[2022-03-20 21:34] wookayin opened #186 "Some issues with :Neotree <cmd> <args>:"
Command: `:Neotree show /`

It seems that this command hasn't gained much test, so I ran into some issues when running the command (#167). Those commands would need more comprehensive testing involving several corner cases.

(1) Bug: It raises an error:
[code]

The line is `elseif f.hide_dotfiles and string.sub(item.name, 1, 1) == "." then`. I wonder if it's just a mistake: I might work around as

[2022-03-20 21:36] wookayin commented on #167
Thanks, they are working. I reported another bug about this #186.

It would be nice to have a lua API -- I looked at the code and it currently lacks modularity so I have to make some list of argument and pass directly to `M._command` or something. We could consider adding this feature at a later point.

[2022-03-20 22:04] cseickel commented on #167
You are actually expected to use `neo-tree.commands.execute()` if you want to use the lua API. Having the separate functions was a mistake and it was impossible to model all of the possible variations that people wanted in a clean way with separate commands. Having a single command that takes an object as an argument also makes it much easier to add new arguments later in a backwards compatible wa

[2022-03-20 22:30] cseickel commented on #186
That's an obvious test I should have done... I would never browse from root so it never occurred to me. 🤷‍♂️  I'll fix that.

There's no issue with browsing read only files. It's probably just using a bad path due to the first error.

I think I just introduced that bug when fixing a problem with the float option not closing other windows. I'll fix that too.

If `ls` was a folder in the current wor

[2022-03-20 22:34] cseickel commented on #186
Also, I really should have mentioned somewhere that the command has tab completion, which makes it easier to discover valid options. That's another thing to add to the documentation.

[2022-03-21 01:04] wookayin commented on #186
Regarding (1-2), `Neotree show /` still doesn't work for me. I see `item.name` is still `nil`.

(4-5): The current behavior is very confusing and **ambigious**. So the command we have now `:Neotree show [current] dir=/the/path/you want`. But do you think this is a good design or API?  In my view, this is somewhat like a mess from users' perspective. Will you assign a new subtoken if you need to ex

[2022-03-21 01:07] wookayin commented on #184
Yes thanks! I respect those decisions. You may also want to print deprecation warnings when those command are ran, but anyway we have this documented and announced so it should be fine..

[2022-03-21 01:33] cseickel commented on #186
Yes, that's the idea.

Just to be clear, every argument is optional, not just `[current]`. If you run `:Neotree` by itself it will just take default values for every argument, just like the old `:NeoTreeFocus`.

The `--` just seems like extra work to me, and why is there a `--` in front of `current` but not `show`? If you find it ambiguous, you can use the key=value notation instead:

[code]

It's

[2022-03-21 01:52] nyngwang commented on #184
Probably related to this, at the current `main` branch:

sometimes it correctly show the folder structure, sometimes it shows an error:

[code]

https://user-images.githubusercontent.com/24765272/159196193-a2db7814-eae1-4232-b442-827eeab5a172.mov

[2022-03-21 02:01] nyngwang commented on #149
I'm on the `v2.x`-branch and tried this option:

[code]

but the folder is still shown :(

[2022-03-21 02:26] cseickel opened #187 "Error caused by async git_status"
Probably related to this, at the current `main` branch:

sometimes it correctly show the folder structure, sometimes it shows an error:

[code]

__Update__: I just switch to the `v2.x`-branch and the bug is gone :) And I found the `:Neotree migrations` guide really helpful and easy to follow!

https://user-images.githubusercontent.com/24765272/159196193-a2db7814-eae1-4232-b442-827eeab5a172.mov

_O

[2022-03-21 02:29] cseickel commented on #184
@nyngwang That's a separate bug that is part of the async git_status feature. I recently made that the default setting in **main** but is hasn't been released to **v2.x** yet. I opened a new issue for this: #187.

[2022-03-21 02:29] #184 closed

[2022-03-21 02:37] cseickel commented on #187
@nyngwang This isn't happening to me so I can't be sure it's fixed, but the latest commit on main should deal with the error in your video. Can you try it out and let me know how it goes?

[2022-03-21 03:27] nyngwang commented on #187
@cseickel Fixed confirmed.

[2022-03-21 11:19] #187 closed

[2022-03-21 23:05] lopi-py opened #188 "Getting lag with `use_libuv_file_watcher = true`"
https://gyazo.com/01916d52f16e0577554743685f055a64 (the cursor flashes and goes to the last previous position when doing the flash and my neovim feels a bit slower)
maybe it's because I'm on Windows but I'm not sure, also when I exit from neovim with the tree opened, I get this
```[neo-tree.nvim] [ERROR 18:04:17] ...packerstart^@eo-tree.nvim/lua/neo-tree/events/queue.lua:144: Error in event handle

[2022-03-21 23:56] cseickel commented on #188
Maybe it shouldn't be turned on by default after all. That is the behavior I see in a `.git` directory which is why I explicitly turn it off in those dirs, but I don't see why it should happen in that dir. It could be that it just isn't usable on Windows.

For now I think I'll just revert the default value to false.

[2022-03-22 00:25] cseickel commented on #186
@wookayin I expanded on the Neotree command section of the readme and enabled offering the key=value form in tab completions of the command. Let me know if that makes it any more intuitive.

[2022-03-22 02:33] sandangel commented on #21
hi @cseickel I just ran into this issue. I try to hit `<esc>` to close the `popup inputs`. The popup was closed, the window is still in `insert` mode. Is this a bug? or we need to add a custom keymap to also switch to normal mode?

[2022-03-22 11:25] cseickel commented on #21
@sandangel That's a bug that appears to be in the main / v2.x branches. I probably just added it. I'm going to move this to a separate issue.

[2022-03-22 11:26] cseickel opened #189 "`<esc>` to close input leaves window in insert mode"
hi @cseickel I just ran into this issue. I try to hit `<esc>` to close the `popup inputs`. The popup was closed, the window is still in `insert` mode. Is this a bug? or we need to add a custom keymap to also switch to normal mode?

_Originally posted by @sandangel in https://github.com/nvim-neo-tree/neo-tree.nvim/issues/21#issuecomment-1074662177_

[2022-03-22 11:46] sandangel commented on #189
thanks for creating this issue. 😀😀

[2022-03-23 00:57] cseickel commented on #166
Closing due to lack of details.

[2022-03-23 00:57] #166 closed

[2022-03-23 00:58] sandangel opened #192 "Custom command for creating Directory?"
Hi, I would like to use a separated command/keymap to create folder. Like mapping `A` to create folder only, no need backslash at the end. This feels more natural to me. When I think about creating a folder, I hit keymap, then think about the name of the folder.

The current way of doing it doesn't feel good to me, when I think of creating a folder, I hit a keymap, think of a name, then realize th

[2022-03-23 01:39] cseickel commented on #189
Of course, when I got to fix it, it just completely stops happening! It may be because I upgraded to a new nightly neovim. Do you still have this issue @sandangel ?

[2022-03-23 11:37] cseickel commented on #192
Yes, but there is really a lot going on there so it's a little complicated for a function defined in a config table. The code for the existing command stats here:https://github.com/nvim-neo-tree/neo-tree.nvim/blob/2152f18291ced01f255ee7f5c121cf3bdba216e0/lua/neo-tree/sources/filesystem/commands.lua#L14

The way to change this is to add an argument to specify that a directory is being created at th

[2022-03-23 15:41] sandangel commented on #192
Thank you very much. I love that we can have it as a builtin command. Fantastic!!! 😊

[2022-03-23 19:15] lopi-py opened #193 "Git ignored files not hidding properly when setting root"
https://gyazo.com/752bfce72f0d3ad8590d7b293d3ef8b7
First, I hide the gitignored files, then I set the root to the parent folder and I set the root back to the original folder, gitignored files shown, then I need toggle twice to hidde

[2022-03-23 22:24] cseickel opened #194 "never_show not working in 2.x"
I'm on the `v2.x`-branch and tried this option:

[code]

but the folder is still shown :(

_Originally posted by @nyngwang in https://github.com/nvim-neo-tree/neo-tree.nvim/issues/149#issuecomment-1073414599_

[2022-03-23 22:25] cseickel commented on #194
Sorry, I almost forgot about this @nyngwang.

[2022-03-23 23:50] cseickel commented on #193
This should be fixed in **main**

[2022-03-24 00:07] #194 closed

[2022-03-24 00:08] #193 closed

[2022-03-24 00:08] #189 closed

[2022-03-24 00:08] #188 closed

[2022-03-24 00:09] #185 closed

[2022-03-24 00:09] #186 closed

[2022-03-24 04:56] sandangel opened #196 "Can not copy/paste folder from clipboard"
I got this error when trying to copy/paste folder from clipboard.
[code]
I was using the 2.x branch,
This is the config:

<details>

[code]

</details>

[2022-03-24 11:41] crxo opened #197 "($) Dollar sign in file names"
You'll be aware of a rename issue with dollar signs in file names as per #142

I've noticed something possibly related when opening files.

For example, if you create a file "MyTest$File.ts" and try to open it through neo-tree, the actual file path it will open is MyTest.ts - ignoring everything after the dollar sign.

I've only recently come across this with the Remix framework, which uses a $ fo

[2022-03-24 11:44] cseickel commented on #196
Thanks for providing logs and config! That is extremely helpful.

I tested and it looks like it is an issue copying folders, but files work fine. Is that what you are seeing too?

[2022-03-24 11:48] cseickel commented on #197
@crxo I actually would have fixed it if I could recreate the problem, but I have no issues with files that have dollar signs in them on my computer. Are you on a Mac?

[2022-03-24 11:56] crxo commented on #197
Thanks for that. Yeah, on a Mac (12.2.1). How odd. I'll have a closer look and see if I can uncover anything.

[2022-03-24 13:05] crxo commented on #197
Haven't tested this on other systems, but for me, it's the nvim edit command.

For example, `:e $test.tsx` opens a buffer for ".tsx"

Escaping the path in utils.lua fixes it for me:

[code]

[2022-03-24 13:21] sandangel commented on #196
@cseickel yeah, I mentioned that in the title. `Can not copy/paste folder from clipboard `

[2022-03-24 13:33] cseickel commented on #196
Oh yeah, sorry about that! Sometimes I just move too fast and miss the details. Too many projects in my life.

[2022-03-24 22:29] cseickel commented on #197
I think that last commit fixes it, can you confirm?

[2022-03-24 23:06] #196 closed

[2022-03-24 23:06] #197 closed

[2022-03-24 23:06] #118 closed

[2022-03-24 23:49] wookayin commented on #186
@cseickel Sorry, I was occupied for the last few days and checked in this now. It's unfortunate to see that you already went through it, but I still don't like the form of the current command arguments. For example, as I said earlier, it is **ambiguous by nature**. In the command `Neotree show current`, we cannot easily tell `show` or `current` is a directory or a directive. My preference/suggesti

[2022-03-25 01:03] cseickel opened #199 "can we get some config to show nested files even if they're hidden and hidden files aren't shown?"
can we get some config to show nested files even if they're hidden and hidden files aren't shown?

e.g. yes hide `node_modules`, but don't hide `index.js.map`, even though they're both gitignored.

_Originally posted by @bennypowers in https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/191#discussioncomment-2434030_

[2022-03-25 01:04] cseickel commented on #199
_moving this replay from the discussion..._

Would that only be for specific named files, or for any file that is nested? Would this only apply to gitignored and never the

[2022-03-25 02:43] ok-nick opened #200 "`netrw` opening by default instead of `neo-tree`?"
Hi, I'm new to neovim and just got most of my config setup. `neo-tree` was working fine for me yesterday, although today it doesn't seem to open by default when I open a directory?

I'm using `packer` and my config looks like this,
[code]

I disabled all my other plugins, settings, keymaps, etc to no avail. I've also tried explicitly setting `hijack_netrw_behavior = "open_default"`, however that d

[2022-03-25 02:47] ok-nick commented on #200
Oh wow, I spent so long trying to fix this and I just got it. I changed my `compile_path` for `packer` to,
`util.join_paths(vim.fn.stdpath("data"), "site", "pack", "compiled.lua")`
Using this setting seems to cause the issue above.

[2022-03-25 06:00] crxo commented on #197
Confirmed working 👍 Thanks so much.

[2022-03-25 12:18] bennypowers commented on #199
I think it should apply to any hidden file that is also nested under another file

The reason being that nesting already hides the file in question, but also makes it available for inspection, whereas showing all hidden files is way too much information

[2022-03-25 12:22] bennypowers opened #201 "Missing APIs for dealing with nested files"
we could also use a `toggle_children` next to `toggle_directory` in commands.lua

_Originally posted by @bennypowers in https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/191#discussioncomment-2434101_

An example of how this is missing, from my config which adds [special toggling rules to the `hjkl` mappings](https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/163):

[code]
I think

[2022-03-25 12:43] mo8it opened #202 "Support trash instead of delete"
Thanks for the awesome plugin!

Adding support for `trash` instead of `rm` would be awesome!
Nvim-Tree does this with the `D` shortcut.

[2022-03-25 12:43] cseickel commented on #199
I definitely agree with that. My thoughts are that it should be that:

- `dotfiles` are always shown in a nesting, regardless of any other settings
- same with `gitignored`
- same with `hide_by_name`
- `never_show` files are the one thing that are not shown

Would you agree with that?

The next question is, does that need to be optional? Would anyone ever say that hidden files should also be hidde

[2022-03-25 13:46] bennypowers commented on #199
That sounds reasonable. I'm not sure how a user would end up nesting dotfiles, but that's fine, in mostly interested in build artifacts like .d.ts

What you described looks good, and if a user had more specific needs they could open an issue

[2022-03-25 21:14] xfzv opened #203 "Directories starting with uppercase letters are sorted first (not respecting `$LC_COLLATE` ?)"
The directories (and probably the files too, I didn't try) starting with uppercase letters are sorted first, which isn't supposed to happen on my system considering the `$LC_COLLATE` value I'm using.

A quick test with some directories containing lowercase and uppercase letters:

- `% exa -l --no-user --no-time`:
![1](https://user-images.githubusercontent.com/78810647/160198644-c4ce9cc9-a0e9-4974-

[2022-03-25 21:41] cseickel commented on #203
It's just doing a natural string sort in lua. TBH, it never occurred to me that someone would want to sort another way.

I can certainly add this in, I'm sure it simple enough to just read your env variables and sort accordingly.

[2022-03-25 21:48] cseickel commented on #202
This would be a simple one for a custom command. Take a look at `:h neo-tree-custom-commands`

Something like this should work (from memory, not tested):

[code]

[2022-03-25 21:54] cseickel commented on #200
Very weird. I've never set that option so I'm not sure what it does, but if it's working now then I'll close this issue.

[2022-03-25 21:54] #200 closed

[2022-03-25 22:11] cseickel commented on #201
Yeah, you're right. I hadn't actually used it until now and we need commands to open/close nested files.

I think we should add a separate `"toggle_node"` command that toggles any container open/closed, which I would map to space by default.

In that case, I would stop the deafult `"open"` command from expanding nested files at all so that it just opens the file.

Does that sound right to you?

[2022-03-25 22:17] bennypowers commented on #201
Yeah, spot on. Don't forget the has_children method, so I can guard against calling toggle_node on a plain file
On Mar 25, 2022, 6:11 PM -0400, cseickel ***@***.***>, wrote:

[2022-03-25 22:18] cseickel opened #204 "Sometimes the root dir/cwd gets stuck"
I'm not sure what causes this yet, but sometimes when I change the root dir it keeps reverting back to a prior value and I just can't change the root. It seem like I can navigate up but not set a new root from by choosing a sub directory.

If anyone else comes across this and can reliably recreate it, please let me know.

[2022-03-25 22:19] ok-nick commented on #200
It's only a patch, I want to set the `compile_path` but in doing so I break `neo-tree`. Actually, I break every plugin. It seems like this is more of an issue with `packer` than `neo-tree`.

[2022-03-25 22:19] cseickel commented on #201
There is this:
https://github.com/nvim-neo-tree/neo-tree.nvim/blob/45c724f9c5c4b5267a08a4d91913a8d391377a72/lua/neo-tree/utils.lua#L526

that may be what you are looking for.

[2022-03-25 22:25] bennypowers commented on #201
Yup that's the one. As long as it works on expandable nodes.

[2022-03-25 22:55] #201 closed

[2022-03-25 23:25] #192 closed

[2022-03-25 23:25] #199 closed

[2022-03-25 23:48] Mo8it commented on #202
Thanks for your answer, I did go with this:

[code]

It did work and the docs in `:h neo-tree-custom-commands` were helpful, but now I have the problem that it does not refresh after sending to trash. I did take a look at the code, it does not seem very easy to try to copy everything is done when deleting. No conformation, no output, not sure about symlinks and directories. So, if would implement

[2022-03-26 00:22] cseickel commented on #202
You can use `require("neo-tree.sources.manager").refresh(state.name)` to refresh:

[code]

[2022-03-26 00:26] cseickel commented on #202
Looking at the code now, there is some extra niceties happening that is worth having. I will leave this up as an enhancement, but since I don't use trash I'm not the best person to implement it. Hopefully someone else will pick it up.

[2022-03-26 05:10] nyngwang opened #205 "Neo-tree will make neovim frozen on delete `node_modules/`"
As title. I experienced this yesterday.

Reproduce:

Install with a set of packages with for example this `package.json` (or anything make your node_modules/ as large as possible :) ):

[code]

then delete the `node_modules/` with neo-tree open.

OS: `macOS 11.6.2`

neovim version:
[code]

neotree version
28fb314f

possible related config:
[code]

[2022-03-26 12:38] cseickel commented on #205
I don't even have to try it to know what the problem is. I am using libuv for all file operations, which is great in that it is cross platform, but not great in that it has no `rm -Rf` equivalent. That means it can only delete empty directories, and has to iterate over all children recursively and delete them one at a time.

It is just slow.

The best solution is probably to replace libuv (aka `vi

[2022-03-26 13:00] Mo8it commented on #202
Refreshing did work. Thank you!

[2022-03-26 16:27] svermeulen opened #207 "Multi-select items then delete/copy/cut"
Not sure if this would be too much scope or not for this plugin, but one feature I really miss from [defx](https://github.com/Shougo/defx.nvim) is the ability to select multiple files/directories then delete/copy/cut them all at once

[2022-03-26 17:04] cseickel commented on #207
If I am understanding the request properly, we do have that in the `*-clipboard` commands:
[code]

The `y` and `x` commands are how multi-select happens, and `p` to apply those yank/cuts to a destination.

...and btw, thanks so much for the easyclip/cutlass plugins! They are must haves for me!

[2022-03-26 17:30] svermeulen commented on #207
Ohhh I see.  Sorry, I should have actually tried it first before assuming the behaviour from the docs.  Works well now that I get it

Also glad that my work is useful to you as well!  :)

[2022-03-26 17:30] #207 closed

[2022-03-26 20:09] #204 closed

[2022-03-26 20:17] cseickel opened #208 "Add Container Component for more complex layouts"
This is to cover situations where we want:
- overlapping components where there is a priority order to what gets displayed
- components that are aligned to the right of the window

Here's what I'm thinking:

[code]

_Originally posted by @cseickel in https://github.com/nvim-neo-tree/neo-tree.nvim/discussions/191#discussioncomment-2419067_

[2022-03-26 22:46] olimorris opened #209 "`enable_git_status` still shows the git status"
Just moved to the `2.x` branch. With the following config, I see that the tree still shows git highlighting.

[code]

[code]

<img width="1296" alt="Screen Shot 2022-03-26 at 22 41 22@2x" src="https://user-images.githubusercontent.com/9512444/160259345-85865035-8019-4ff4-89e6-2b27e0248d75.png">

[2022-03-26 23:17] cseickel commented on #209
There is a fix for this **main**, but you can accomplish the same effect on v2.x if you add `git_status_async = false` to your config:

[code]

Thanks for the good bug report.

[2022-03-26 23:39] #209 closed

[2022-03-27 01:52] bennypowers commented on #201
Nice. Here are the new functions for replication atom tree-view behviour:

[code]

[2022-03-27 04:45] axieax opened #211 "nvim-tree feature migration"
Hi, I'm currently migrating from nvim-tree and was wondering whether the following features are supported (feature requests if not):

- [ ] group empty directories (compact folders that only contain a single folder into one node in the file tree)
- [x] vim.ui.input instead of popup for creating files etc. (like nvim-tree)
- [x] netrw_hijack behaviour of open_default but for full-width window inste

[2022-03-27 05:50] axieax opened #212 "Invalid default mapping for sources buffers and git_status"
Is it intended that these default mapping warnings appear for the buffers and git_status sources? I haven't edited the default mappings so it seems quite unexpected that these warnings come up.

`:Neotree source=buffers`

![image](https://user-images.githubusercontent.com/62098008/160268554-d9cecb07-707d-456e-826c-ed70333ab717.png)

`:Neotree source=git_status`

![image](https://user-images.github

[2022-03-27 09:54] olimorris commented on #209
For the record, this improves the opening speed of `neo-tree`, massively! Thank you

[2022-03-27 10:41] zeitchef opened #213 "Don't override <space> key"
I use `<space>` as my leader key, as I'm sure a lot of people do. Unfortunately, I can't use my normal key mapping for toggling the filesystem tree (`<leader>e`) because you've hijacked the space key for `toggle_node`. Is it possible to turn off that default behavior, or override this override? Thanks.

[2022-03-27 13:36] cseickel commented on #213
`<space>` is being used as the mapping for toggling a node open/closed. There is a problem with the mapping functionality where it swallows any mapped keys and prevents existing multi-key combos that start with a mapped key from firing. I am going to work on fixing that now.

For right now, you can map to `"none"` to remove a default mapping:

[code]

[2022-03-27 13:41] cseickel commented on #211
This feature does not exist.

[2022-03-27 13:41] cseickel commented on #211
Yes, add this to your config:
[code]

[2022-03-27 13:44] cseickel commented on #211
If you want to open Neotree in a split, but not the current one, you can use the `"open_current"` behavior but use `:split .` and `:vsplit .` to open it.

[2022-03-27 13:45] cseickel opened #216 "group empty directories"
This feature does not exist.

_Originally posted by @cseickel in https://github.com/nvim-neo-tree/neo-tree.nvim/issues/211#issuecomment-1079934404_

[2022-03-27 14:53] zeitchef commented on #213
Great! Thanks for the tip, and cheers for the awesome plug-in!

[2022-03-27 15:09] #213 closed

[2022-03-27 15:54] axieax commented on #211
Thanks for the quick response and help! For the netrw_hijack behaviour, I was more describing the following scenario:
- User opens Neovim to a directory
- neo-tree automatically opens as a full width buffer (which can be closed, unlike `open_current`)
- Selecting a file from the neo-tree buffer will close the buffer and open the file

Running `<ctrl-w>o` after loading seems to be closer to this be

[2022-03-27 16:06] cseickel commented on #203
This was just added to **main** and will go out in the next release. Interpreting LC_COLLATE turned out to be more complicated than I originally expected, so I just added a `sort_case_insensitive` option:

[code]

[2022-03-27 16:13] cseickel commented on #211
Sorry but I think I am confused, what you describe above is the current behavior if you specify `hijack_netrw_behavior = "open_current"` and you open nvim to a directory. Does it not work that way for you?

[2022-03-27 16:17] axieax commented on #211
`open_current`'s behaviour is pretty much what I would like. Only thing is that when that buffer is active, it pretty much "consumes" my buffers and I cannot move to my other tabs without using my mouse for some reason. It works fine if neo-tree is opened as a separate buffer though.

https://user-images.githubusercontent.com/62098008/160290759-93787595-73ce-4ff6-88c5-9efdf4da7ee9.mp4

[2022-03-27 16:34] cseickel commented on #211
In the video above you opening nvim with two buffers, one is a file and one is a dir. The strange behavior you are experiencing is due to these facts:

- **You are using a plugin that displays buffers as tabs**
- The buffer with a file starts out as the "active" buffer in this situation
- The hijack does not happen until you actually show the directory buffer
- Once the directory buffer is hijacke

[2022-03-27 17:19] axieax commented on #211
Thanks for the followup. I guess the question is more whether it's possible to make the hijacked buffer "listed" rather than "unlisted".

For my workflow, I like to open nvim with the files/directories which I will be working on, then further selecting the files within directories to open (eliminates the need to find and search for the subfiles). In this case, I would like the directory listing to

[2022-03-27 22:21] cseickel commented on #211
OK, in that case all you need is the ability to override the local options with a `setlocal buflisted`. This is related to #155.